.flex_view{
  >li[class^="col"] {
    padding-left:0;
    padding-right:0;
  }
  >div[class^="col"] {
    padding-left:0;
    padding-right:0;
  }
  @media(min-width:768px){
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    &.left{
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    &.right{
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    &.center{
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    &.space-between{
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    &.space-around{
      -webkit-justify-content: space-around;
      -ms-flex-pack: justify;
      justify-content: space-around;
    }
    &.middle{
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
    &.end{
      -webkit-align-items: end;
      -ms-flex-align: end;
      align-items: end;
    }
    &.start{
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    &.reverse{
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
    &.space{
      margin:0 -15px;
      >div[class^="col"] {
        padding-left:15px;
        padding-right:15px;
      }  
    }

  }
}
.flex_view_xs{

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  &.left{
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  &.right{
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  &.center{
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  &.space-between{
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &.space-around{
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
  }
  &.middle{
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &.end{

    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end;
  }
  &.start{
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  &.reverse{
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  &.space{
    margin:0 -15px;
    >div[class^="col"] {
      padding-left:15px;
      padding-right:15px;
    }  
  }
  >div[class^="col"] {
    padding-left:0;
    padding-right:0;
    float: none;
  }
}


// Browser Prefixes
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

.black_bg {
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}