<div class="shopify-section">

	<article id="section-page" class="site-box-container container--fullscreen box--can-stick">

		{% assign check_for_image = page.content | slice: 0, 10 %}
		{% assign image_found = false %}
		{% if check_for_image contains '<img' %}
			{% assign src = page.content | split: 'src="' %}
	    {% assign src = src[1] | split: '"' | first %}
	    {% assign image_found = true %}
		{% endif %}

		<div class="site-box box--big lap--box--small-fl box--typo-big box--center-align box--column-flow box__heading box--add-hr" data-order="0">

		 	<div class="site-box-content less-padding fix-me-with-margin {% if image_found %} dark {% endif %}">

				{% include 'product_breadcrumb' %}

        <h1 class="title {% if image_found %} dark {% endif %}">
          {{ page.title }}
        </h1>

      </div>

      {% if image_found %}
      	<span class="site-box-background with-image" style="background-image: url({{ src }});" aria-hidden="true"></span> {% endif %}

		</div>

    <div class="site-box box--big lap--box--bigger box__text box--typo-big box--center-align box--column-flow" data-order="1">

      <div class="site-box-content fix-me-with-margin">

        <div class="rte">
          {{ page.content }}
        </div>

				{%- if page.title == 'Reviews'-%}
				  <!-- TrustBox widget - Grid -->
				  <div class="review-grid">
				    <div class="trustpilot-widget" data-locale="en-US" data-template-id="539adbd6dec7e10e686debee" data-businessunit-id="5c5347f2fef045000155ff38" data-style-height="500px" data-style-width="100%" data-theme="light" data-stars="4,5" data-schema-type="Organization"> <a href="https://www.trustpilot.com/review/newworlddiamonds.com" target="_blank" rel="noopener">Trustpilot</a> </div>
				  </div>
				  <!-- End TrustBox widget -->
				{%- endif -%}

			</div>

		</div>

		{% comment %}
		25118572611 = About Us
		25104941123 = Our Mission
		{% endcomment %}

		{% if page.id == 25118572611 or page.id == 25104941123 %}

			{% capture promo_headline %}
				{% if page.id == 25118572611 %}
					A Diamond Sourcing and Buying Process That Actually Makes Sense for the World We Live In.
				{% elsif page.id == 25104941123 %}
					Diamonds Grown in a Lab, Not a War Zone
				{% endif %}
			{% endcapture %}

			{% capture promo_text %}
				{% if page.id == 25104941123 %}
					There is a smarter way to make a diamond, one that is more aware of its impact on the world. We want you to feel as good about your diamond purchase as we do about making them.
				{% endif %}
			{% endcapture %}

			{% capture promo_cta %}
				{% if page.id == 25118572611 %}
					Why Lab-Grown Diamonds
				{% elsif page.id == 25104941123 %}
					Shop Lab-Grown Diamond Jewelry
				{% endif %}
			{% endcapture %}

			{% capture promo_link %}
				{% if page.id == 25118572611 %}
					https://www.newworlddiamonds.com/blogs/news/ethical-advantages-of-lab-grown-diamonds
				{% elsif page.id == 25104941123 %}
					{{ pages.jewelry.url }}
				{% endif %}
			{% endcapture %}


			<div class="mount-content-row shorty">
				<div class="site-box-container container--fullscreen">
					<div class="site-box box--small-fl lap--box--small-fl box__announcement box--typo-big box--center-align box--column-flow alt-link-style" style="background-color: #ec6a5f">
						<div class="site-box-content">
							<div class="content">

								<p class="title" style="color: #ffffff">{{ promo_headline }}</p>

								{% unless promo_text == blank %}
									<div class="rte widow-fixed" style="color: #ffffff">{{ promo_text }}</div>
								{% endunless %}


								{% unless promo_cta == blank %}
									<div class="is-center-aligned">
										<a class="button with-icon" style="margin-top:30px;" href="{{ promo_link }}">{{ promo_cta }} <span class="icon">{% include 'asset_svg' with 'arrow_icon_smallest' %}</span></a>
									</div>
								{% endunless %}

							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

	</article>

</div>

{% if image_found %}

	<style type="text/css">
		.rte *:first-child img {
			display: none;
		}
	</style>

{% endif %}
