{% layout none %}

{
  "product": {
    "data": {{ product | json }}
  },

  "metafields": {
    "video_file": {{ product.metafields.video.file | json }}
  },

  "certificate": {
    "link": {{ product.metafields.details.certificate_link | json }}
  }
}
