<div class="shopify-section">
  {% section 'product' %}
</div>
{% section 'product-recommendations' %}
{% section 'product_footer' %}
{% section 'banner_product' %}


<script>
    (function(){
        // Flag to determine whether checkout should contain exactly one item on
        // the product page. If false, checkout contains items that are already in
        // customer's cart.
        var useBoltConfirmationPage = false;
        var orderNotesId = ""
        var enableGaTracking = true
        var enableFacebookPixel = true;
        var freeShippingVal = 0
        var noShopifyConfirmationSlicing = true;
        // var defaultShippingOption = {
        //   service: "",
        //   cost: {
        //     amount:0,
        //     currency:"USD",
        //     currency_symbol:"$"
        //   }
        // }

         console.log('aaaaaaaaaaa----');

        var previousCart = convertToBoltCart(getCurrentCart());
        var variantId = {{product.selected_or_first_available_variant.id}}
        var quantitySelector = ".quantity";
        var globalBoltCart = {};
        var referenceProduct = "";
        var inBoltCheckout = false
        var enableGaTrackingProduct = true
        var enableFacebookPixelProduct = false
        var cartUpdateURLsProduct = [
        '/cart/change.js',
        '/cart/update.js',
        '/cart/add.js',
        ];

        function getCurrentCart() {
          let cart = {};
          $.ajax({
            type: "GET",
            url: "/cart.js",
            dataType: "json",
            async: false,
            success: function(cartResp) {
              cart = cartResp;
            }
          });
          return cart;
        }

        function addProductsToCart(cart) {
        let isSuccess = false;
        for (var key in cart.items) {
          var item = cart.items[key];
          $.ajax({
            type: "POST",
            url: "/cart/add.js",
            dataType: "json",
            async: false,
            data: {
              quantity: item.quantity,
              id: item.shopifyProductVariantReference,
              bolt: true,
            },
            success: function() {
              isSuccess = true;
            }
          });
        }
        return isSuccess;
        }
        // Synchronous calls to clear the cart
        function clearCart() {
          let isSuccess = false;
          $.ajax({
            type: "POST",
            url: "/cart/clear.js",
            dataType: "json",
            async: false,
            success: function() {
              isSuccess = true;
            }
          });
          return isSuccess;
        }

         var trackGaStepProduct = function(step) {
          if (!enableGaTrackingProduct) {
            return;
          }
          ga('ec:setAction','checkout', {
            'step': step,
          });
          ga('send', 'event', 'Checkout', 'step');
        };

        async function loadProductPageCheckoutCart() {
         if (isNaN(variantId)) {
           variantId = {{product.selected_or_first_available_variant.id}}
         }
        globalBoltCart = {items:[{quantity:parseInt($(quantitySelector).val()), shopifyProductVariantReference:variantId}]}
        console.log(globalBoltCart)
        var hints = {};
        var tax_exempt = false;
        var Shopifyhints = {};
        var discountShippingParams = {};
        console.log("called")
        {% if customer %}
        tax_exempt = {{customer.tax_exempt}}
        hints["prefill"] = {
          "firstName": "{{ customer.first_name }}",
          "lastName": "{{ customer.last_name }}",
          "email": "{{ customer.email }}",
        };
        {% if customer.addresses | size > 0 %}
        hints["prefill"]["addressLine1"] = "{{customer.addresses[0].street}}";
        hints["prefill"]["city"] = "{{customer.addresses[0].city }}";
        hints["prefill"]["state"] = "{{customer.addresses[0].province }}";
        hints["prefill"]["zip"] = "{{customer.addresses[0].zip }}";
        {% endif %}
        {% endif %}
        Shopifyhints["useBoltOrderConfirmationPage"] = useBoltConfirmationPage;
        Shopifyhints["noShopifyConfirmationSlicing"] = noShopifyConfirmationSlicing;
        if (freeShippingVal != 0) {
          Shopifyhints["freeShippingCentsValue"] = freeShippingVal;
          if (typeof defaultShippingOption !== 'undefined') {
            Shopifyhints["defaultShippingOption"] = defaultShippingOption
          }
        }
        Shopifyhints["taxExempt"] = tax_exempt;
        Shopifyhints["productCheckoutConfig"] = {
        }
        Shopifyhints["productCheckoutConfig"]["variantId"] = parseInt(variantId)
        Shopifyhints["productCheckoutConfig"]["quantity"] = parseInt($(quantitySelector).val())
        Shopifyhints["productCheckoutConfig"]["handle"] = '{{ product.handle }}'
        console.log(Shopifyhints["productCheckoutConfig"]["variantId"])
         var callbacks =  {
              check: function() {
                console.log("HERERERE1")
                trackGaStepProduct(1);
                clearCart();
                console.log("HERERERE2")
                console.log(globalBoltCart)
              addProductsToCart(globalBoltCart);
                console.log(getCurrentCart())
                inBoltCheckout = true;
                return true;
              },
              onCheckoutStart: function() {
                trackGaStepProduct(2);
                if (enableFacebookPixelProduct) {
                  fbq('track', 'InitiateCheckout');
                }
              },
              onShippingDetailsComplete: function() {
                trackGaStepProduct(3);
              },
              onShippingOptionsComplete: function() {
                trackGaStepProduct(4);
              },
              onPaymentSubmit: function() {
                trackGaStepProduct(5);
                if (enableFacebookPixelProduct) {
                  fbq('track', 'AddPaymentInfo');
                }
              },
              success: function(transaction, callback) {
                clearCart();
                addProductsToCart(previousCart);
                referenceProduct = transaction.reference;
                if (enableGaTrackingProduct) {
                  ga('ec:setAction', 'purchase', {
                    'id': transaction.reference,
                    'revenue': String(transaction.amount.amount / 100.0)
                  });
                  ga('send', 'event');
                  trackGaStepProduct(6);
                }
                if (enableFacebookPixelProduct) {
                  fbq('track', 'Purchase', {
                    value: transaction.amount.amount / 100,
                    currency: 'USD',
                  });
                }
              },
              close: function() {
                inBoltCheckout = false;
                console.log(previousCart);
              clearCart();
                addProductsToCart(previousCart);
              },
            };
          var sub = BoltConnect.configureShopifyProductCheckout(
            Shopifyhints,
            hints,
            callbacks,
            {
            checkoutButtonClassName: "bolt-checkout-button-product",
        },
          );
        }

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }


        function convertToBoltItem(item) {
        const stringPrice = item.price.toString();
        const priceLen = stringPrice.length;
        return {
          image: item.image,
          desc: item.product_description,
          name: item.title,
          shopifyProductVariantReference: item.variant_id,
          shopifyProductReference: item.product_id,
          quantity: item.quantity,
          sku: item.sku,
          price: "$" + stringPrice.slice(0, priceLen - 2) + "." + stringPrice.slice(priceLen - 2),
          options: item.title,
        }
      }

        function convertToBoltCart(cart) {
        let newCart = {};
        newCart.items = [];
        for (var index in cart.items) {
          item = cart.items[index];
          var itemObj = convertToBoltItem(item);
          newCart.items.push(itemObj);
        }
        return newCart;
      }
        $(window).on('beforeunload', function(){
          if (inBoltCheckout) {
            console.log(previousCart);
            clearCart();
            addProductsToCart(previousCart);
          }
          inBoltCheckout = false
        });

        $(document).ready(function() {
          $(document).ajaxComplete(function(event, xhr, settings) {
            for (var i = 0; i < cartUpdateURLsProduct.length; i++) {
              if (settings && settings.url.includes(cartUpdateURLsProduct[i]) && (!settings.data || !(settings.data.includes("bolt=true")))) {
                console.log(getCurrentCart());
                previousCart = convertToBoltCart(getCurrentCart());
                console.log(previousCart)
              }
            }
          });
          window.productLoad = loadProductPageCheckoutCart;

          $('body').on('change', function () {
             variantId = getUrlVars()["variant"]
            console.log(variantId)
            console.log("VARIANT CHANGED")
            console.log(variantId);
            if ($("#AddToCartText-product-template").text().includes("Sold out")) {
              $('.bolt-checkout-button-product.bolt-multi-step-checkout').css('display', 'none');
            } else {
              $('.bolt-checkout-button-product.bolt-multi-step-checkout').css('display', 'block');
            }
            loadProductPageCheckoutCart()
          });

          loadProductPageCheckoutCart();
        });
      })();

    </script>

    <script>
      if ($("#AddToCartText-product-template").text().includes("Sold out")) {
        $('.bolt-checkout-button-product.bolt-multi-step-checkout').css('display', 'none');
      }
    </script>
