/* Styling to bolt checkout complete box */
.bolt-checkout {

	/*   Styling to bolt checkout button */
	.bolt-checkout-button{
		border-radius: 0px !important;
	}

	/*   Styling for shopify additional checkout buttons */
	.bolt-additional-checkout-buttons {

		/*      Styling for generated gift card button */
		#gift-card-button {
		}

	}
}

/* Styling to bolt checkout complete box ajax cart or rendered */
.bolt-checkout-rendered {

	/*   Styling to bolt checkout button */
	.bolt-checkout-button{
	}

	/*   Styling for shopify additional checkout buttons */
	.bolt-additional-checkout-buttons {

		/*      Styling for generated gift card button */
		#gift-card-button {
		}

	}
}
