/*  our services */
.nwd-ouer-services{
  max-width: 1200px;
  margin: 0 auto;
  ul{
    margin: 25px 0;
    .nwd-our-services-wrap {
      display: inline-block;
      width: 33.33%;
      margin-right: -4px;
      padding: 0 15px;
      .img{
        width: 100px;
        max-width: 100px;
        float: left;
        padding-right: 15px;
        position: relative;
        &:after{
          position: absolute;
          content: '';
          height: 65%;
          width: 1px;
          background: #dedede;
          right: 0px;
          top: 50%;
          transform: translateY(-50%);

        }
      }
      .info{
        width: calc(100% - 100px);
        float: left;
        padding-left: 15px;
        h4{
          font-weight: bold;
        }
        p{
          margin:0
        }
      }
    }
  }
}


/* Footer */

.nwd-footer-blocks {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding:50px 0;
  .nav-sub-header {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    @media(max-width:767px){
      position: relative;
      padding: 10px 0;
      transition: all 1s ease-out;
      &:after,
      &:before{
        position: absolute;
        width: 15px;
        height: 3px;
        background: #000;
        content: '';
        right: 10px;
        top: 20px;
      }
    }
    &:before{
      transform: rotate(90deg);
    }
  }
  .footer-nav {
    nav{
      ul{
        .footer-sub-nav-wrapper {
          width: 25%;
          display: inline-block;
          margin-right: -4px;
          padding: 0 15px;
          vertical-align:top;
          &.active{
            .nav-sub-header{
              &:before{
                display:none;
              }
            }
            .footer-sub-nav{
              display:block;
              transition: all 1s ease-in;
            }
          }
          @media(max-width:767px){
            width:100%;
            margin:0;
          }
          @media(min-width:768px) and (max-width:1024px){
            width:50%;
          }
          .footer-sub-nav {
            margin: 15px 0;
            @media(max-width:767px){
              display:none;
            }

            li {
              line-height: 40px;
              font-size: 18px;
              letter-spacing: 0.04em;
              a{
                text-transform: capitalize;
              }
              span{
                &.heading{
                  max-width: 40px;
                  font-weight:bold;
                }
                display: inline-block;
                width:calc(100% - 40px);
              }
            }
          }
        }
      }
    }
  }

}