<!doctype html>
<!--[if IE 9]><html class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  
<!-- GOOGLE -->
<meta name="google-site-verification" content="Pb-4DapfJGhuoJnf9-RgfCj-V6Z1JQP4JpyFAN4xyO4" />
  
<!-- Global site tag (gtag.js) - Google Ads: 782426529 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-782426529"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-782426529');
</script>

<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-782426529',
    'value': 'replace with value',
    'items': [{
      'id': 'replace with value',
      'google_business_vertical': 'retail'
    }]
  });
</script>
  
<!-- For Smair India account -->
<!-- Global site tag (gtag.js) - Google Ads: 661699110 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-661699110"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-661699110');
</script>

  <script>
  gtag('event', 'page_view', {
    'send_to': 'AW-661699110',
    'value': 'replace with value',
    'items': [{
      'id': 'replace with value',
      'google_business_vertical': 'retail'
    }]
  });
</script>


  <!-- BOLT -->
  {% if canonical_url contains 'boltapp' %}
	 {{ 'bootstrap-grid.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {{ 'jquery-3.1.1.min.js' | asset_url | script_tag }}
  {{ 'bolt.scss.css' | asset_url | stylesheet_tag }}
  {{ 'bolt.js' | asset_url | script_tag }}

  <script
    id="bolt-connect"
    type="text/javascript"
    src="https://connect.bolt.com/connect-shopify.js"
    data-publishable-key="t7xw3uuXABWe.eLmModmghoIq.dabc096423688035ce0a6bd867d75a8956a02a5776da284839d25e6fc423e90d"
    data-shopping-cart-id="Shopify">
  </script>

  <script
    id="bolt-track"
    type="text/javascript"
    src="https://connect.bolt.com/track.js"
    data-publishable-key="t7xw3uuXABWe.eLmModmghoIq.dabc096423688035ce0a6bd867d75a8956a02a5776da284839d25e6fc423e90d"
    async  >
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="{{ 'favicon.ico' | asset_url }}">
  <link rel="icon" type="image/png" sizes="196x196" href="{{ 'favicon-192.png' | asset_url }}">
  <link rel="icon" type="image/png" sizes="160x160" href="{{ 'favicon-160.png' | asset_url }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ 'favicon-96.png' | asset_url }}">
  <link rel="icon" type="image/png" sizes="64x64" href="{{ 'favicon-64.png' | asset_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32.png' | asset_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16.png' | asset_url }}">
  <link rel="apple-touch-icon" href="{{ 'favicon-57.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ 'favicon-114.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ 'favicon-72.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ 'favicon-144.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ 'favicon-60.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'favicon-120.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'favicon-76.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'favicon-152.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'favicon-180.png' | asset_url }}">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="{{ 'favicon-144.png' | asset_url }}">
  <meta name="msapplication-config" content="{{ 'browserconfig.xml' | asset_url }}">

  <title>
    {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social_meta' %}

  <link rel="canonical" href="{{ canonical_url }}">

  <!-- fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/mkj6eaa.css">

  <!-- video.js -->
  <link rel="stylesheet" href="https://vjs.zencdn.net/7.3.0/video-js.css">
  <script src="https://vjs.zencdn.net/7.3.0/video.js"></script>

  {{ 'css_main.scss.css' | asset_url | stylesheet_tag }}
  
  {{ 'nwd-style.scss.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}

  <script type="text/javascript">
    window.start = Date.now();
  </script>

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  <noscript>
    {{ 'css_noscript.scss.css' | asset_url | stylesheet_tag }}
  </noscript>

  {{ 'js_product.js' | asset_url | script_tag }}

  <!-- JS Cookies -->
  {{ 'js_cookie.js' | asset_url | script_tag }}

  <!-- TRUSTPILOT -->
  <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
  <!-- END TRUSTPILOT -->

  <!-- AFFIRM -->
  <script>
   _affirm_config = {
     public_api_key:  "XGCKVTBCYNJRWDVW",
     script:          "https://cdn1.affirm.com/js/v2/affirm.js"
   };
   (function(l,g,m,e,a,f,b){var d,c=l[m]||{},h=document.createElement(f),n=document.getElementsByTagName(f)[0],k=function(a,b,c){return function(){a[b]._.push([c,arguments])}};c[e]=k(c,e,"set");d=c[e];c[a]={};c[a]._=[];d._=[];c[a][b]=k(c,a,b);a=0;for(b="set add save post open empty reset on off trigger ready setProduct".split(" ");a<b.length;a++)d[b[a]]=k(c,e,b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)d[b[a]]=function(){};h.async=!0;h.src=g[f];n.parentNode.insertBefore(h,n);delete g[f];d(g);l[m]=c})(window,_affirm_config,"affirm","checkout","ui","script","ready");
  // Use your live public API Key and https://cdn1.affirm.com/js/v2/affirm.js script to point to Affirm production environment.
  </script>
  <!-- END AFFIRM -->

  <!-- PINTEREST -->
  <meta name="p:domain_verify" content="019ba31a5e7577c12d004ffa0ccff0c1"/>
  <!-- END PINTEREST -->


  <!-- RETENTION SCIENCE -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.js"></script>
  <script type="text/javascript">
    window._rsq = window._rsq || [];
      window._rsq.push(['_setSiteId', '695']); // replace site_id with your static Site ID
     window._rsq.push(['_enableOnsite']);

    {% if customer %}
      window._rsq.push(['_setUserId', '{{ customer.id }}']);
      window._rsq.push(['_setUserEmail', '{{ customer.email }}']);
    {% endif %}

    /*** EVENT SPECIFIC CODE ***/
    {% if template.name == 'product' and product %}
      {% if product.first_available_variant.id %}
        window._rsq.push(['_addItem', {'id': '{{product.first_available_variant.id}}'}]);
      {% endif %}

      {% if product.first_available_variant.id == '' %}
       window._rsq.push(['_addItem', {'id': '{{product.id}}'}]);
      {% endif %}
    {% endif %}

    {% if template.name == 'cart' %}
      {% for item in cart.items %}
       window._rsq.push(['_addItem', { 'id':'{{ item.id }}', 'name':'{{ item.title }}', 'price':'{{ item.price | money_without_currency }}' }]);
      {% endfor %}
      window._rsq.push(['_setAction', 'shopping_cart']);
    {% endif %}

    {% if template.name == 'search' and search.performed %}  window._rsq.push(['_setAction', 'search']) ;
     window._rsq.push(['_setParams', { 'term': '{{ search.terms }}'}]);
    {% endif %}

    window._rsq.push(['_track']);
    /*** END EVENT SPECIFIC CODE ***/

    /*** FUNCTION FOR AJAX TRACKING ***/
    var _rs_ajax = {};
    _rs_ajax.updateCart = function(){ //This is required for ajax cart views
      var request = new XMLHttpRequest();
      request.open('GET', '/cart.js', true);
      request.onload = function() {
        if (request.status >= 200 && request.status < 400) { // Success!
          var cart = JSON.parse(request.responseText);
          for(var i=0; i<cart.items.length; i++){
            var cartItem = cart.items[i];
            var price = cartItem.price / 100;
            _rsq.push(['_addItem', { 'id':cartItem.id.toString(), 'name':cartItem.title.toString(),'price':price.toFixed(2).toString() }]);
          }
       window._rsq.push(['_setAction', 'shopping_cart']);
        window._rsq.push(['_track']);
        }
      };
      request.onerror = function() {
        console.log("error");
      };

      request.send();
    };
    /*** END FUNCTION FOR AJAX TRACKING ***/

    window.addEventListener('DOMContentLoaded', function(){

      /*** ADD TO CART EVENT ***/
       [].slice.call(window.frames.document.getElementsByClassName('is-add-to-cart')).forEach(function(button){
         button.addEventListener("click", function(){
           setTimeout(function(){ _rs_ajax.updateCart() }, 2000);
         });
       });
      /*** END ADD TO CART EVENT ***/

      /*** FUNCTION FOR EMAIL CAPTURING ***/
      // document.getElementById("email_signup").addEventListener("submit", function(){
      //   var uEmail = document.getElementById('k_id_email').value;
      //     window._rsq.push(['_setUserEmail', uEmail]);
      //     window._rsq.push(['_setUserProperties', { 'record_id': md5(uEmail.toLowerCase()),'email':uEmail, 'registration_source':'footer'}]); // (Optional) You can pass any ReSci standard user data point
      //     window._rsq.push(['_setAction', 'email_entered']);
      //
      //     window._rsq.push(['_track']);
      //   });
      /*** END FUNCTION FOR EMAIL CAPTURING ***/
    });

    (function() {
      var rScix = document.createElement('script');
        rScix.type = 'text/javascript';
        rScix.async = true;
       rScix.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'd1stxfv94hrhia.cloudfront.net/waves/v3/w.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(rScix);
      })();
    </script>

  <!-- END RETENTION SCIENCE -->
  
   <!-- Taboola Pixel Code -->
  <script type='text/javascript'>
    window._tfa = window._tfa || [];
    window._tfa.push({notify: 'event', name: 'page_view', id: 1271197});
    !function (t, f, a, x) {
           if (!document.getElementById(x)) {
              t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
           }
    }(document.createElement('script'),
    document.getElementsByTagName('script')[0],
    '//cdn.taboola.com/libtrc/unip/1271197/tfa.js',
    'tb_tfa_script');
  </script>
  <noscript>
    <img src='https://trc.taboola.com/1271197/log/3/unip?en=page_view'
        width='0' height='0' style='display:none'/>
  </noscript>
  <!-- End of Taboola Pixel Code -->

  <!-- CRITEO -->
  <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
  {% assign template-type = template | split: '.' | first %}
  {% if template-type == 'cart' or template-type == 'collection' or template-type == 'index' or template-type == 'product' %}
  {% unless template-type == 'cart' and cart.item_count < 1 %}
  <script type="text/javascript">
  (function(){

  function priceFromCents(cents) {
      if (typeof(cents) != "number")
          return;

      return (cents / 100);
  }

  var deviceType = /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d";
  window.criteo_q = window.criteo_q || [];
  window.criteo_q.push(
    { event: "setAccount", account: 59534 },
    { event: "setEmail", email: "{{ customer.email }}" },
    { event: "setSiteType", type: deviceType },
    {% case template-type %}
    {% when 'cart' %}{ event: "viewBasket", item: [{% for item in cart.items %}{% unless forloop.index0 == 0 %}, {% endunless %}{ id: "{{ item.product_id }}", price: priceFromCents({{ item.price }}), quantity: {{ item.quantity }} }{% endfor %}]}
    {% when 'collection' %}{ event: "viewList", item: [{% for product in collection.products limit:3 %}{% if forloop.index0 != 0 %},{% endif %}"{{product.id}}"{% endfor %}]}
    {% when 'index' %}{ event: "viewHome" }
    {% when 'product' %}{ event: "viewItem", item: "{{ product.id }}" }
    {% endcase %}
  );

  function isRelevantCartUpdate(settings) {
      function dataContains(term) {
          return settings.data && settings.data.indexOf && settings.data.indexOf(term) > -1;
      }

      return (settings.url == "/cart/add.js" || settings.url == "/cart/update.js")
        && (
          dataContains('attributes[prod') ||
          (dataContains('id=') && dataContains('quantity='))
        );
  }

  $(document).ajaxSuccess(function(event, xhr, settings) {
      if (isRelevantCartUpdate(settings)) {
          $.getJSON("/cart.js", function(data) {
              var basketData = [];
              var item;

              if (!data.items || !data.items.length)
                  return;

              for (var i = 0; i < data.items.length; i++) {
                  item = data.items[i];

                  basketData.push({
                      id: item.product_id,
                      price: priceFromCents(item.price),
                      quantity: item.quantity
                  });
              }

              window.criteo_q.push({
                  event: "viewBasket",
                  product: basketData
              });
          });
      }
  });
  })();
  </script>
  {% endunless %}
  {% endif %}
  <!-- End CRITEO -->

  <!-- FILTER MENU -->
  {% section 'filter-menu-settings' %}
  <!-- END FILTER MENU -->
  
</head>


<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name }} template-{{ template | replace: '.', ' ' | handle }}">

  {% comment %}{% section 'header' %}{% endcomment %}

  <main class="wrapper main-content" id="main" role="main">

    {{ content_for_layout }}

    {% section 'nwd-footer' %}


    <div id="contact-nwd" class="mfp-hide">
    	{{ pages.contact-new-world-diamonds.content }}
    </div>

  </main>

  <div id="site-overlay" class="site-overlay"></div>


  {{ 'js_plugins.min.js' | asset_url | script_tag }}

  {% capture jQuery_arrow_down %} {% include "asset_svg" with "arrow_icon" %} {% endcapture %}
  {% capture jQuery_arrow_right %} {% include "asset_svg" with "arrow_icon_smaller" %} {% endcapture %}
  {% capture jQuery_icon_heart %} {% include "asset_svg" with "heart_icon" %} {% endcapture %}
  {% capture jQuery_icon_twitter %} {% include "asset_svg" with "twitter_icon" %} {% endcapture %}
  {% capture jQuery_icon_instagram %} {% include "asset_svg" with "social_instagram" %} {% endcapture %}
  {% capture jQuery_icon_zoom %} {% include "asset_svg" with "zoom_out_icon" %} {% endcapture %}

  <script type="text/javascript">
    jQuery.themeAssets = {
      arrowDown: '{{ jQuery_arrow_down | lstrip | rstrip }}',
      arrowRight: '{{ jQuery_arrow_right | lstrip | rstrip }}',
      iconHeart: '{{ jQuery_icon_heart | lstrip | rstrip }}',
      iconTwitter: '{{ jQuery_icon_twitter | lstrip | rstrip }}',
      iconInstagram: '{{ jQuery_icon_instagram | lstrip | rstrip }}',
      iconZoom: '{{ jQuery_icon_zoom | lstrip | rstrip }}'
    };
    jQuery.themeCartSettings = '{{ settings.cart_action }}';
  </script>

  <script type="text/javascript">

    window.shop_money_format = "{{ shop.money_format }}";

    window.product_words_add_to_cart_button = "{{ 'product.add_to_cart' | t }}";
    window.product_words_sold_out_variant = "{{ 'product.inventory.sold_out_variant' | t }}";
    window.product_words_unavailable_variant = "{{ 'product.inventory.unavailable_variant' | t }}";
    window.product_words_one_product = "{{ 'product.inventory.one_product' | t }}";
    window.product_words_few_products = "{{ 'product.inventory.few_products' | t }}";
    window.product_words_no_products = "{{ 'product.inventory.no_products' | t }}";
    window.product_words_preorder = "{{ 'product.inventory.preoder' | t }}";

    window.show_preloader = "{{ settings.show_preloader }}";

  </script>

  <!-- {{ 'jquery.hoverdir.js' | asset_url | script_tag }} -->

  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {{ 'js_main.js' | asset_url | script_tag }}

  {% section 'popup' %}

  {% if settings.thumb_resize == 'fit' %}
    <style type="text/css">
      .box__collection .box--product-image {
        width: 84%;
        height: 84%;
        margin: 8%;
      }
      .box__collection .box--product-image img {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: contain !important;
        font-family: "object-fit: contain" !important;
      }
      #contact-nwd {
  		  border: 2px #555 solid;
  		  background-color: #ffffff;
  		  padding: 20px;
  		  max-width: 800px;
  		  margin-left: auto;
  		  margin-right: auto;
  		}
    </style>
  {% endif %}

</body>
</html>
