{% include 'landing_banner' %}

{% schema %}
  {
    "name": "Landing page banner",
    "class": "mount-landing-banner",
    "settings": [
      {
        "type": "checkbox",
        "id": "banner_enable",
        "label": "Enable banner",
        "default": true
      },
      {
        "type": "text",
        "id": "banner_caption",
        "label": "Caption",
        "default": "A short introductory line"
      },
      {
        "type": "text",
        "id": "banner_title",
        "label": "Title",
        "default": "Landing Page"
      },
      {
        "type": "text",
        "id": "banner_details",
        "label": "Details",
        "default": "More details about this landing page"
      },
      {
        "type": "url",
        "id": "banner_link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button"
      },
      {
        "type": "color",
        "id": "slide_bg",
        "label": "Background",
        "default": "#ffffff"
      },
      {
        "type": "radio",
        "id": "banner_txt_style",
        "label": "Text color",
        "options": [
          {
            "value": "light",
            "label": "Light"
          },
          {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "banner_txt_align",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "image_picker",
        "id": "banner_background",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "background_position_palm",
        "label": "Background Position Mobile",
        "default": "50%"
      },
      {
        "type": "text",
        "id": "background_position_lap",
        "label": "Background Position Tablet",
        "default": "50%"
      },
      {
        "type": "text",
        "id": "background_position_desk",
        "label": "Background Position Desktop",
        "default": "50%"
      },
      {
        "type": "text",
        "id": "background_scale",
        "label": "Background Scale Mobile",
        "default": "100%"
      },
      {
        "type": "text",
        "id": "background_scale_lap",
        "label": "Background Scale Laptop",
        "default": "100%"
      },
      {
        "type": "text",
        "id": "background_scale_desk",
        "label": "Background Scale Desktop",
        "default": "100%"
      },
      {
        "type": "color",
        "id": "banner_color",
        "label": "Background overlay",
        "default": "#ffffff"
      },
      {
        "type": "checkbox",
        "id": "inherit_enable",
        "label": "Inherit Background Height",
        "default": false
      },
      {
        "type": "header",
        "content": "Countdown"
      },
      {
        "type": "checkbox",
        "id": "countdown_enable",
        "label": "Show countdown clock"
      },
      {
        "type": "range",
        "id": "countdown_year",
        "label": "End year",
        "min": 2019,
        "max": 2029,
        "default": 2019,
        "step": 1
      },
      {
        "type": "range",
        "id": "countdown_month",
        "label": "End month",
        "min": 1,
        "max": 12,
        "default": 1,
        "step": 1
      },
      {
        "type": "range",
        "id": "countdown_day",
        "label": "End day",
        "min": 1,
        "max": 31,
        "default": 1,
        "step": 1
      },
      {
        "type": "range",
        "id": "countdown_hour",
        "label": "End hour",
        "min": 0,
        "max": 24,
        "default": 0,
        "step": 1
      },
      {
        "type": "select",
        "id": "countdown_zone",
        "label": "Timezone",
        "options": [
          { "value": "-12", "label": "GTM -12:00" },
          { "value": "-11", "label": "GTM -11:00" },
          { "value": "-10", "label": "GTM -10:00" },
          { "value": "-9", "label": "GTM -9:00" },
          { "value": "-8", "label": "GTM -8:00" },
          { "value": "-7", "label": "GTM -7:00" },
          { "value": "-6", "label": "GTM -6:00" },
          { "value": "-5", "label": "GTM -5:00" },
          { "value": "-4", "label": "GTM -4:00" },
          { "value": "-3", "label": "GTM -3:00" },
          { "value": "-2", "label": "GTM -2:00" },
          { "value": "-1", "label": "GTM -1:00" },
          { "value": "0", "label": "GTM" },
          { "value": "1", "label": "GTM +1:00" },
          { "value": "2", "label": "GTM +2:00" },
          { "value": "3", "label": "GTM +3:00" },
          { "value": "4", "label": "GTM +4:00" },
          { "value": "5", "label": "GTM +5:00" },
          { "value": "6", "label": "GTM +6:00" },
          { "value": "7", "label": "GTM +7:00" },
          { "value": "8", "label": "GTM +8:00" },
          { "value": "9", "label": "GTM +9:00" },
          { "value": "10", "label": "GTM +10:00" },
          { "value": "11", "label": "GTM +11:00" },
          { "value": "12", "label": "GTM +12:00" }
        ],
        "default": "0"
      }
    ]
  }
{% endschema %}
