{% include 'landing_content' %}

{% schema %}
  {
    "name": "Landing Page Content",
    "class": "landing-page-content",
    "settings": [

    ],
    "blocks": [
    	{
        "type": "collection",
        "name": "Collection",
        "settings": [
		      {
		        "type": "collection",
		        "id": "collection",
		        "label": "Collection"
		      },
		      {
		        "type": "range",
		        "id": "collection_per",
		        "label": "Number of products",
		        "min": 4,
		        "max": 40,
		        "default": 8,
		        "step": 4
		      }
        ]
      },
    	{
        "type": "image",
        "name": "Image with text",
        "settings": [
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "options": [
              {
                "value": "100",
                "label": "100%"
              },
              {
                "value": "50",
                "label": "50%"
              },
              {
                "value": "25",
                "label": "25%"
              }
            ]
          },
          {
            "type": "select",
            "id": "height",
            "label": "Height",
            "options": [
              {
                "value": "100",
                "label": "100%"
              },
              {
                "value": "50",
                "label": "50%"
              },
              {
                "value": "25",
                "label": "25%"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "type": "text",
            "id": "caption",
            "label": "Text",
            "default": "Share your latest products, collections or promotions!"
          },
          {
            "type": "text",
            "id": "metal",
            "label": "Metal"
          },
          {
            "type": "text",
            "id": "price",
            "label": "Price"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button"
          },
          {
            "type": "select",
            "id": "bg_style",
            "label": "Text color",
            "options": [
              {
                "value": "light",
                "label": "Dark"
              },
              {
                "value": "dark",
                "label": "Light"
              }
            ]
          },
          {
		        "type": "select",
		        "id": "txt_align",
		        "label": "Text alignment",
		        "options": [
		          {
		            "value": "left",
		            "label": "Left"
		          },
		          {
		            "value": "center",
		            "label": "Center"
		          },
		          {
		            "value": "right",
		            "label": "Right"
		          },
							{
								"value": "top-left",
								"label": "Top Left"
							},
							{
								"value": "bottom-left",
								"label": "Bottom Left"
							},
							{
								"value": "top-right",
								"label": "Top Right"
							},
							{
								"value": "bottom-right",
								"label": "bottom-right"
							}
		        ],
		        "default": "center"
		      },
          {
            "type": "image_picker",
            "id": "bg_img",
            "label": "Background image"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
          },
          {
            "type": "text",
            "id": "video_src",
            "label": "Video Source"
          },
          {
            "type": "text",
            "id": "svg_src",
            "label": "SVG Source"
          },
          {
             "type":      "select",
             "id":        "box_style",
             "label":     "Box Style",
             "options": [
               {
                 "value": "normal",
                 "label": "Normal"
               },
               {
                 "value": "banner",
                 "label": "Banner"
               }
             ],
             "default":   "normal"
          },
          {
            "type": "text",
            "id": "add_class",
            "label": "Added Class"
          },
          {
            "type": "text",
            "id": "badge_text",
            "label": "Badge Text"
          }
        ]
      },
    	{
        "type": "separator",
        "name": "Text separator",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Promotion"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Heading"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Page"
          },
		      {
		        "type": "richtext",
		        "id": "text",
		        "label": "Content",
		        "default": "<p>Inform your customers about important your discounts and new offers.</p>"
		      },
					{
		        "type": "url",
		        "id": "separator_link",
		        "label": "Link"
		      },
		      {
		        "type": "text",
		        "id": "cta",
		        "label": "Call to Action",
		        "default": "Learn More"
		      },
					{
						"type": "color",
						"id": "slide_bg",
						"label": "Background",
						"default": "#ffffff"
					},
					{
		        "type": "color",
		        "id": "slide_text",
		        "label": "Text",
		        "default": "#34515E"
		      },
          {
            "type": "html",
            "id": "code",
            "label": "HTML"
          },
          {
		        "type": "select",
		        "id": "slide_size",
		        "label": "Margin Size",
		        "options": [
		          {
		            "value": "0",
		            "label": "Full"
		          },
		          {
		            "value": "1",
		            "label": "Slim"
		          },
              {
		            "value": "2",
		            "label": "Button Bar"
		          }
		        ],
		        "default": "0"
		      },
          {
            "type": "text",
            "id": "add_class",
            "label": "Added Class"
          }
        ]
      },
      {
        "type": "collection-grid-3",
        "name": "Three Collection Grid",
        "settings": [
					{
		        "type": "select",
		        "id": "txt_align",
		        "label": "Align block text",
		        "options": [
		          {
		            "value": "left",
		            "label": "Left"
		          },
		          {
		            "value": "center",
		            "label": "Center"
		          },
		          {
		            "value": "right",
		            "label": "Right"
		          },
							{
		            "value": "top-left",
		            "label": "Top Left"
		          },
							{
		            "value": "bottom-left",
		            "label": "Bottom Left"
		          },
							{
		            "value": "top-right",
		            "label": "Top Right"
		          },
							{
		            "value": "bottom-right",
		            "label": "bottom-right"
		          }
		        ],
		        "default": "center"
		      },
          {
            "type": "collection",
            "id": "collection_1",
            "label": "Collection"
          },
          {
            "type": "select",
            "id": "bg_style_1",
            "label": "Text color",
            "options": [
              {
                "value": "light",
                "label": "Dark"
              },
              {
                "value": "dark",
                "label": "Light"
              }
            ]
          },
          {
            "type": "collection",
            "id": "collection_2",
            "label": "Collection"
          },
          {
            "type": "select",
            "id": "bg_style_2",
            "label": "Text color",
            "options": [
              {
                "value": "light",
                "label": "Dark"
              },
              {
                "value": "dark",
                "label": "Light"
              }
            ]
          },
          {
            "type": "collection",
            "id": "collection_3",
            "label": "Collection"
          },
          {
            "type": "select",
            "id": "bg_style_3",
            "label": "Text color",
            "options": [
              {
                "value": "light",
                "label": "Dark"
              },
              {
                "value": "dark",
                "label": "Light"
              }
            ]
          }
        ]
      },
			{
				"type": "collection-grid-4",
				"name": "Four Collection Grid",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Heading",
						"default": "Featured collection"
					},
					{
						"type": "select",
						"id": "bg_style",
						"label": "Text color",
						"options": [
							{
								"value": "light",
								"label": "Dark"
							},
							{
								"value": "dark",
								"label": "Light"
							}
						]
					},
					{
						"type": "collection",
						"id": "collection_1",
						"label": "Collection"
					},
					{
						"type": "collection",
						"id": "collection_2",
						"label": "Collection"
					},
					{
						"type": "collection",
						"id": "collection_3",
						"label": "Collection"
					},
					{
						"type": "collection",
						"id": "collection_4",
						"label": "Collection"
					}
				]
			},
			{
				"type": "collections-grid",
				"name": "Featured Collections Grid",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Heading",
						"default": "Featured collection"
					},
					{
		        "type": "url",
		        "id": "featured_link",
		        "label": "Link"
		      },
		      {
		        "type": "text",
		        "id": "cta",
		        "label": "Call to Action",
		        "default": "Shop All"
		      },
					{
						"type": "select",
						"id": "bg_style",
						"label": "Text color",
						"options": [
							{
								"value": "light",
								"label": "Dark"
							},
							{
								"value": "dark",
								"label": "Light"
							}
						]
					},
					{
						"type": "select",
						"id": "featured_collection_no",
						"label": "Number of collections",
						"options": [
							{
								"value": "6",
								"label": "6"
							},
							{
								"value": "10",
								"label": "10"
							}
						]
					},
					{
						"type": "collection",
						"id": "collection_1",
						"label": "Collection"
					},
          {
						"type": "text",
						"id": "title_1",
						"label": "Title"
					},
					{
						"type": "collection",
						"id": "collection_2",
						"label": "Collection"
					},
          {
            "type": "text",
            "id": "title_2",
            "label": "Title"
          },
					{
						"type": "collection",
						"id": "collection_3",
						"label": "Collection"
					},
          {
            "type": "text",
            "id": "title_3",
            "label": "Title"
          },
					{
						"type": "collection",
						"id": "collection_4",
						"label": "Collection"
					},
          {
            "type": "text",
            "id": "title_4",
            "label": "Title"
          },
					{
						"type": "collection",
						"id": "collection_5",
						"label": "Collection"
					},
          {
            "type": "text",
            "id": "title_5",
            "label": "Title"
          },
					{
						"type": "collection",
						"id": "collection_6",
						"label": "Collection"
					},
          {
            "type": "text",
            "id": "title_6",
            "label": "Title"
          },
					{
						"type": "collection",
						"id": "collection_7",
						"label": "Collection"
					},
          {
            "type": "text",
            "id": "title_7",
            "label": "Title"
          },
					{
						"type": "collection",
						"id": "collection_8",
						"label": "Collection"
					},
          {
            "type": "text",
            "id": "title_8",
            "label": "Title"
          },
					{
						"type": "collection",
						"id": "collection_9",
						"label": "Collection"
					},
          {
            "type": "text",
            "id": "title_9",
            "label": "Title"
          },
					{
						"type": "collection",
						"id": "collection_10",
						"label": "Collection"
					},
          {
            "type": "text",
            "id": "title_10",
            "label": "Title"
          }
				]
			},
			{
				"type": "product-grid-list",
        "name": "Featured Products",
        "settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Heading",
						"default": "Featured collection"
					},
					{
						"type": "collection",
						"id": "lp_collection_select",
						"label": "Collection"
					},
          {
            "type": "collection",
            "id": "lp_collection_link",
            "label": "Collection Link"
          },
					{
						"type": "select",
						"id": "bg_style",
						"label": "Text color",
						"options": [
							{
								"value": "light",
								"label": "Dark"
							},
							{
								"value": "dark",
								"label": "Light"
							}
						]
					},
					{
						"type": "select",
						"id": "featured_collection_no",
						"label": "Number of products",
						"options": [
							{
								"value": "6",
								"label": "6"
							},
							{
								"value": "10",
								"label": "10"
							},
							{
								"value": "14",
								"label": "14"
							}
						]
					}
				]
			}
    ]
  }
{% endschema %}
