<div class="nwd-our-collection">
  <ul>
    <li class="nwd-our-collection-wrap">
      <div class="first_block">
        {% unless block.settings.collection_img_one == blank %}
        <div class="img">
          <img src="{{ block.settings.collection_img_one | img_url : 'master' }}" alt="{{ block.settings.collection_img_one.alt }}" />
        </div>
        {% endunless %}

        <div class="info">
          <a href="{{ section.settings.collection_url_one }}" tabindex="0" title="{{ section.settings.collection_title_one }}">
            {% unless block.settings.heading == blank %}
            <h4 class="heading">
              {{ block.settings.heading }}
            </h4>
            {% endunless %}

            {% unless block.settings.sub_heading == blank  %}
            <p class="heading">
              {{ block.settings.sub_heading }}
            </p>
            {% endunless %}
          </a>
        </div>
      </div>
    </li>
    <li class="nwd-our-collection-wrap">
      <div class="second_block">
        {% unless block.settings.collection_img_two == blank %}
        <div class="img">
          <img src="{{ block.settings.collection_img_two | img_url : 'master' }}" alt="{{ block.settings.collection_img_two.alt }}" />
        </div>
        {% endunless %}

        <div class="info">
          <a href="{{ section.settings.collection_url_one }}" tabindex="0" title="{{ section.settings.collection_title_two }}">
            {% unless block.settings.collection_title_two == blank %}
            <h4 class="heading">
              {{ block.settings.collection_title_two }}
            </h4>
            {% endunless %}

            {% unless block.settings.sub_heading == blank  %}
            <p class="heading">
              {{ block.settings.sub_heading }}
            </p>
            {% endunless %}
          </a>
        </div>
      </div>
      <div class="thired_block">
        {% unless block.settings.collection_img_three == blank %}
        <div class="img">
          <img src="{{ block.settings.collection_img_three | img_url : 'master' }}" alt="{{ block.settings.collection_img_three.alt }}" />
        </div>
        {% endunless %}

        <div class="info">
          <a href="{{ section.settings.collection_url_one }}" tabindex="0" title="{{ section.settings.collection_title_three }}">
            {% unless block.settings.heading == blank %}
            <h4 class="heading">
              {{ block.settings.heading }}
            </h4>
            {% endunless %}

            {% unless block.settings.sub_heading == blank  %}
            <p class="heading">
              {{ block.settings.sub_heading }}
            </p>
            {% endunless %}
          </a>
        </div>
      </div>
    </li>
    <li class="nwd-our-collection-wrap">
      <div class="fourth_block">
        {% unless block.settings.collection_img_fourth == blank %}
        <div class="img">
          <img src="{{ block.settings.collection_img_fourth | img_url : 'master' }}" alt="{{ block.settings.collection_img_fourth.alt }}" />
        </div>
        {% endunless %}

        <div class="info">
          <a href="{{ section.settings.collection_url_one }}" tabindex="0" title="{{ section.settings.collection_title_one }}">
            {% unless block.settings.heading == blank %}
            <h4 class="heading">
              {{ block.settings.heading }}
            </h4>
            {% endunless %}

            {% unless block.settings.sub_heading == blank  %}
            <p class="heading">
              {{ block.settings.sub_heading }}
            </p>
            {% endunless %}
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>

{% schema %}
{
  "name": "Slideshow",
  "class": "slideshow-section under-menu",
  "settings": [
   {
    "type": "checkbox",
    "id": "wide_display",
    "label": "Wide display",
    "default": true
  },
  {
    "type": "header",
    "content": "Color"
  },
  {
    "type": "color",
    "id": "dark_color",
    "label": "Dark color"
  },
  {
    "type": "color",
    "id": "light_color",
    "label": "Light color"
  },
  {
    "type": "header",
    "content": "First block"
  },
  {
    "type": "image_picker",
    "id": "collection_img_one",
    "label": "image"
  },
  {
    "type": "text",
    "id": "collection_title_one",
    "label": "heading"
  },
  {
    "type": "text",
    "id": "collection_text_one",
    "label": "Text"
  },
  {
    "type": "url",
    "id": "collection_url_one",
    "label": "Collection link"
  },
  {
    "type": "header",
    "content": "Second block"
  },
  {
    "type": "image_picker",
    "id": "collection_img_second",
    "label": "image"
  },
  {
    "type": "text",
    "id": "collection_title_second",
    "label": "heading"
  },
  {
    "type": "text",
    "id": "collection_text_second",
    "label": "Text"
  },
  {
    "type": "url",
    "id": "collection_url_second",
    "label": "Collection link"
  },
  {
    "type": "header",
    "content": "Third block"
  },
  {
    "type": "image_picker",
    "id": "collection_img_three",
    "label": "image"
  },
  {
    "type": "text",
    "id": "collection_title_three",
    "label": "heading"
  },
  {
    "type": "text",
    "id": "collection_text_three",
    "label": "Text"
  },
  {
    "type": "url",
    "id": "collection_url_three",
    "label": "Collection link"
  },
  {
    "type": "header",
    "content": "Fourth block"
  },
  {
    "type": "image_picker",
    "id": "collection_img_four",
    "label": "image"
  },
  {
    "type": "text",
    "id": "collection_title_four",
    "label": "heading"
  },
  {
    "type": "text",
    "id": "collection_text_four",
    "label": "Text"
  },
  {
    "type": "url",
    "id": "collection_url_four",
    "label": "Collection link"
  }
  ],
  "presets": [{
    "name": "NWD our collection",
    "category": "Image",
    "settings": {
    }
  }]
}
{% endschema %}

