<div class="nwd-ouer-services">
  <ul>
    {% for block in section.blocks %}
    <li class="nwd-our-services-wrap">
      {% unless block.settings.image == blank  %}
      <div class="img">
        <img src="{{ block.settings.image | img_url : 'master' }}" alt="{{ block.settings.image.alt }}" />
      </div>
      {% endunless %}

      <div class="info">
        {% unless block.settings.heading == blank %}
        <h4 class="heading">
          {{ block.settings.heading }}
        </h4>
        {% endunless %}

        {% unless block.settings.sub_heading == blank %}
        <p class="sub-heading">
          {{ block.settings.sub_heading }}
        </p>
        {% endunless %}
      </div>

    </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "NWD Our services",
  "settings": [
  ],
  "blocks":[
  {
    "type":"text",
    "name":"our services",
    "settings":[
    {
      "type": "image_picker",
      "id": "image",
      "label": "image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub heading"
    }
    ]
  }
  ],
  "presets": [{
    "name": "NWD Our services",
    "category": "Image",
    "settings": {
    }
  }]
}
{% endschema %}
