<div id="build-wrapper" class="is-hidden">

  <div class="site-box-container collection__container ring__builder">
    <div class="title-holder">
      <p class="section-title">Create Your Ring</p>
    </div>
  </div>

  <div class="site-box-container collection__container ring__builder">
    {% assign step = 'step-1' %}
    {% include 'build_your_ring_step' with step %}

    {% assign step = 'step-2' %}
    {% include 'build_your_ring_step' with step %}
  </div>

  {% comment %}
  <div class="site-box-container collection__container ring__builder foot is-hidden">

    <div class="site-box box--center-align box--column-flow box--small-lg box--typo-small palm--box--small-fl style--light align--top-left">
      <div class="site-box-content">
        <div class="content">
          <div class="col column-1 total-price">
          </div>
          <div class="col column-2 affirm-price">
          </div>
          <div class="col column-2 has-button">
            <button type="submit" name="add" class="button color atc-button"><span class="add-to-cart-text">{{ 'product.add_to_cart' | t }}</span></button>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% endcomment %}

</div>
