<div id="{{ step }}" class="site-box box--center-align box--column-flow box--small-lg box--typo-small palm--box--small-fl box__image-text style--light align--top-left {% unless has_video == blank %}with-video{% endunless %}">

  <div class="site-box-content">
    <div class="content">
      <a href="{% if step == 'step-1' %}{{ collections[all-lab-grown-diamonds].url }}{% elsif step == 'step-2' %}{{ collections[engagement-ring-settings].url }}{% endif %}" class="title add-hr">{% if step == 'step-1' %}Choose Your Diamond{% elsif step == 'step-2' %}Choose Your Setting{% endif %}</a>
      <p class="caption"><a class="{{ step }}"></a></p>
    </div>
    <div class="content footer">
      <p class="extra-links">
        <a class="view-link is-hidden">View</a>
        <a class="change-link is-hidden">Change</a>
      </p>
    </div>
  </div>

  <a class="site-box-background with-image with-video is-hidden {{ step }}" aria-hidden="true" style="background-color:#ffffff">
    <div class="lp-player" data-url="{{ settings.video_url }}">
    </div>
  </a>

  <a class="site-box-background with-image no-video is-hidden {{ step }}" aria-hidden="true"></a>

  {% if step == 'step-1' %}
    <a class="site-box-background with-image is-fpo fpo-diamond {{ step }}" aria-hidden="true">
      <img class="lazyload" src="{{ 'fpo-diamond.png' | asset_url }}" />
    </a>
  {% elsif step == 'step-2' %}
    <a class="site-box-background with-image is-fpo fpo-ring {{ step }}" aria-hidden="true">
      <img class="lazyload" src="{{ 'fpo-ring.png' | asset_url }}" />
    </a>
  {% endif %}

</div>
