{% assign type = cart_form %}
<form action="/cart" method="post" novalidate class="cart" id="site-cart-form-{{ type }}">

  <div class="cart-items">

    {% for item in cart.items %}

      <div class="cart-item">

        <a href="{{ item.url | within: collections.all }}" class="thumbnail">
          <img src="{{ item | img_url: '200x240', crop: 'center' }}" alt="{{ item.title | escape }}">
        </a>

        <div class="content">

          <a href="{{ item.url }}" class="title">
            {{ item.product.title }}
            {% unless item.variant.title contains 'Default' %}
              <span>({{ item.variant.title }})</span>
            {% endunless %}
          </a>

          {% if item.product.type != 'Diamonds' and item.product.metafields.shipping.date != blank %}

            {% if item.variant.inventory_quantity > 0  %}
              <span>{{ item.product.metafields.shipping.date }}</span>
            {% else %}
              <span>{{ item.product.metafields.preorder.date }}</span>
            {% endif %}

          {% endif %}

          <div class="price">

            <div class="conditional-qty qty-{{ item.quantity }}">

              <strong>{{ item.final_price | money }}</strong>

              {% if item.original_line_price > item.final_line_price %}
                <del>{{ item.original_price | money }}</del>
              {% endif %}

              {% if item.product.compare_at_price > item.product.price and item.discount_allocations.size == 0 %}
                <del>{{ item.product.compare_at_price | money }}</del>
              {% endif %}

            </div>

            {% if item.quantity > 1 %}
              <div>
                <strong>{{ item.final_line_price | money }}</strong>
              </div>
              <div>
                <span>({{ item.quantity }} x {{ item.final_price | money }})</span>
              </div>
            {% endif %}

          </div>


           {% if item.line_level_discount_allocations.size > 0 %}
            {% for discount_allocation in item.line_level_discount_allocations %}
              <small class="discount">{{ 'cart.discount' | t }} {{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})</small>
            {% endfor %}
          {% endif %}

          {% assign property_size = item.properties | size %}
          {% if property_size > 0 %}
            {% for p in item.properties %}
              {% unless p.last == blank %}
                {{ p.first }}:
                {% if p.last contains '/uploads/' %}
                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                {% else %}
                  {{ p.last }}
                {% endif %}
              {% endunless %}
            {% endfor %}
          {% endif %}

        </div>

        {% if type == 'page' %}

          <div class="actions">
            <input class="qty" type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" aria-label="{{ 'product.quantity' | t }}">
            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="remove" title="{{ 'cart.remove_item' | t }}" aria-label="{{ 'cart.remove_item' | t }}"><span aria-hidden="true">{% include 'asset_svg' with 'close_icon' %}</span></a>
          </div>

        {% else %}

          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="remove" title="{{ 'cart.remove_item' | t }}" aria-label="{{ 'cart.remove_item' | t }}"><span aria-hidden="true">{% include 'asset_svg' with 'close_icon' %}</span></a>

        {% endif %}

      </div>

    {% endfor %}

  </div>

  {% if settings.cart_notes_enable %}
    <textarea name="note" id="cartSpecialInstructions" placeholder="{{ 'cart.note' | t }}" aria-label="{{ 'cart.note' | t }}">{{ cart.note }}</textarea>
  {% endif %}

  <div class="cart-out">

    <div id="CartDetails">

      {% if cart.cart_level_discount_applications != blank %}
        <div>
          <p id="CartSubTotal">{{ 'cart.subtotal' | t }} <span>{{ cart.items_subtotal_price | money }}</span></p>
          <p id="CartDiscounts">
            {{ 'cart.discounts' | t }}
            {% for discount_application in cart.cart_level_discount_applications %}
              <span>{{ discount_application.title }} ( -{{ discount_application.total_allocated_amount | money }} )</span>
            {% endfor %}
          </p>
        </div>
      {% endif %}

    </div>

    <div class="columns">
      <div class="column">
        {% if type == 'page' %}
          <button name="update" class="button outline less-padding" style="margin-right: 35px; position: relative; top: -2px;" aria-label="{{ 'cart.update_cart' | t }}">{% include 'asset_svg' with 'reload_icon' %}</button>
        {% else %}
          <button class="button accent" style="margin-right: 10px;">{{ 'sidebar.cart.view_cart' | t }}</button>
        {% endif %}
      </div>
      <div class="column">
        <p id="CartTotal">{{ 'cart.total' | t }} <span>{{ cart.total_price | money }}</span></p>
        <small>{{ 'cart.shipping_at_checkout' | t }}</small>
      </div>
    </div>

    <div class="nwd-insert">
      <p class="title">Enjoy Free FedEx Standard Ground Shipping</p>
      <p>All of our shipments are 100% fully insured and require an adult signature, so you don’t need to worry. Not going to be home, we can take care of that too. Give us a call at 877-653-2250 or <a class="nwd-text-link" href="mailto:hello@newworlddiamonds.com">hello@newworlddiamonds.com</a> We have you covered!</p>
      <a target="_blank" href="https://www.newworlddiamonds.com/pages/faq#returns">
        <strong>Read Our Return Policy</strong>
      </a>
    </div>

    <div style="margin-top: 20px;">

      <!-- BOLT -->
      <!-- <div class="shopify-checkout" style="display:none">
        <input type="submit" name="checkout" class="button is-medium is-theme-button is-fullwidth is-inverted is-checkout" value="{{ 'cart.checkout' | t }}">
      </div> -->
      <div class="bolt-checkout">
        <div class="bolt-checkout-button bolt-multi-step-checkout large-width with-cards" style="--bolt-primary-action-color:#34515e; --bolt-button-hover-color:#ff6e61"  data-btn-txt="Pay by Card"></div>


        <div class="additional_checkout_buttons" style="margin-top:15px">

          <div class="affirm" style="margin-bottom:1em">
            <p class="affirm-as-low-as" data-page-type="cart" data-amount="{{cart.total_price}}"></p>
          </div>

          <button type="submit" name="checkout" class="is-fullwidth" style="background:none;border:0;padding:0">

            <svg width="296px" height="60px" viewBox="0 0 296 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>60_296-white</title>
              <desc>Created with Sketch.</desc>
              <defs>
                  <polygon id="path-1" points="0 24.1894607 60.6222222 24.1894607 60.6222222 0.000275555556 0 0.000275555556"></polygon>
              </defs>
              <g id="60_296-white" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-0.500000, -0.500000)">
                  <g id="60x296_White-Copy-2" transform="translate(0.523438, 0.447266)" fill="#FFFFFF" stroke="#D5D9DE" stroke-width="2">
                    <rect id="Rectangle-1" x="1" y="1" width="294" height="58" rx="8"></rect>
                  </g>
                  <g id="Group" transform="translate(49.000000, 14.000000)">
                    <g id="Group-12-Copy" transform="translate(138.700000, 0.100000)">
                        <path d="M3.9756237,22.1062607 C3.22703111,22.1062607 2.85135704,21.7370163 2.85135704,21.1298756 C2.85135704,20.0028533 4.11248296,19.6179941 6.41337185,19.3727496 C6.41337185,20.8800385 5.39473481,22.1062607 3.9756237,22.1062607 M4.9676237,13.6255793 C3.32347556,13.6255793 1.43132741,14.3989719 0.404423704,15.2182904 L1.34223111,17.1921867 C2.16614222,16.4390015 3.49799407,15.7942015 4.6994163,15.7942015 C5.8402163,15.7942015 6.47032,16.1763052 6.47032,16.9451052 C6.47032,17.4622311 6.05331259,17.7240089 5.26338667,17.8259644 C2.3140237,18.2089867 0.000275555556,19.0237126 0.000275555556,21.2970459 C0.000275555556,23.0991793 1.28344593,24.1894607 3.28857185,24.1894607 C4.71870519,24.1894607 5.99269037,23.3940237 6.59799407,22.3450756 L6.59799407,23.8955348 L9.26537185,23.8955348 L9.26537185,17.3979348 C9.26537185,14.7149422 7.39986074,13.6255793 4.9676237,13.6255793" id="Fill-1" fill="#060809"></path>
                        <path d="M31.7428978,13.9184948 L31.7428978,23.895443 L34.5967348,23.895443 L34.5967348,19.087917 C34.5967348,16.8035615 35.9800237,16.1321244 36.9444681,16.1321244 C37.3219793,16.1321244 37.8290015,16.2414281 38.1642607,16.4940207 L38.6841422,13.8560356 C38.2441719,13.6668207 37.7830756,13.6254874 37.4055644,13.6254874 C35.9377719,13.6254874 35.0155793,14.27488 34.40752,15.5947911 L34.40752,13.9184948 L31.7428978,13.9184948 Z" id="Fill-3" fill="#060809"></path>
                        <path d="M51.9157689,13.6252119 C50.406643,13.6252119 49.2777837,14.5180119 48.6908504,15.3768267 C48.1461689,14.2654193 46.9906726,13.6252119 45.6073837,13.6252119 C44.0982578,13.6252119 43.0539022,14.4629007 42.57168,15.4273452 L42.57168,13.9182193 L39.820717,13.9182193 L39.820717,23.8960859 L42.6763911,23.8960859 L42.6763911,18.7606489 C42.6763911,16.9162637 43.6417541,16.0317304 44.5437393,16.0317304 C45.3593837,16.0317304 46.1088948,16.55896 46.1088948,17.9220415 L46.1088948,23.8960859 L48.9608948,23.8960859 L48.9608948,18.7606489 C48.9608948,16.8951378 49.9032948,16.0317304 50.8466133,16.0317304 C51.6016356,16.0317304 52.3970726,16.5810044 52.3970726,17.9009156 L52.3970726,23.8960859 L55.2481541,23.8960859 L55.2481541,16.9998489 C55.2481541,14.7568267 53.7390281,13.6252119 51.9157689,13.6252119" id="Fill-5" fill="#060809"></path>
                        <path d="M24.795683,13.9184948 L22.2100533,13.9184948 L22.2100533,12.9044504 C22.2100533,11.5836207 22.9632385,11.2061096 23.6135496,11.2061096 C24.3318311,11.2061096 24.8912089,11.5248356 24.8912089,11.5248356 L25.7711496,9.51236148 C25.7711496,9.51236148 24.8792681,8.92910222 23.2571644,8.92910222 C21.4329867,8.92910222 19.3580533,9.95692444 19.3580533,13.1845985 L19.3580533,13.9184948 L15.0299941,13.9184948 L15.0299941,12.9044504 C15.0299941,11.5836207 15.7831793,11.2061096 16.4334904,11.2061096 C16.8027348,11.2061096 17.2987348,11.2915319 17.7111496,11.5248356 L18.5910904,9.51236148 C18.0656978,9.20465778 17.2215793,8.92910222 16.0771052,8.92910222 C14.2529274,8.92910222 12.1779941,9.95692444 12.1779941,13.1845985 L12.1779941,13.9184948 L10.5219052,13.9184948 L10.5219052,16.1192652 L12.1779941,16.1192652 L12.1779941,23.895443 L15.0299941,23.895443 L15.0299941,16.1192652 L19.3580533,16.1192652 L19.3580533,23.895443 L22.2100533,23.895443 L22.2100533,16.1192652 L24.795683,16.1192652 L24.795683,13.9184948 Z" id="Fill-7" fill="#060809"></path>
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Clip-10"></g>
                        <polygon id="Fill-9" fill="#060809" mask="url(#mask-2)" points="26.4974222 23.8955348 29.3466667 23.8955348 29.3466667 13.9185867 26.4974222 13.9185867"></polygon>
                        <path d="M43.1193926,-9.18518519e-05 C35.4157778,-9.18518519e-05 28.5507704,5.34660444 26.6025926,12.2217156 L29.3939704,12.2217156 C31.0225037,7.10281185 36.5464741,2.60850074 43.1193926,2.60850074 C51.1095852,2.60850074 58.0131704,8.69093037 58.0131704,18.1599378 C58.0131704,20.2853896 57.7385333,22.2032563 57.2168148,23.8960859 L59.9255259,23.8960859 L59.952163,23.802397 C60.3967259,22.0562933 60.6226815,20.1577156 60.6226815,18.1599378 C60.6226815,7.59973037 52.9273333,-9.18518519e-05 43.1193926,-9.18518519e-05" id="Fill-11" fill="#0FA0EA" mask="url(#mask-2)"></path>
                    </g>
                    <path d="M0.638,17.246 C0.638,13.11 3.322,10.272 6.93,10.272 C10.12,10.272 12.078,12.142 12.584,14.848 L9.79,14.848 C9.328,13.616 8.492,12.78 6.93,12.78 C4.774,12.78 3.498,14.672 3.498,17.246 C3.498,19.798 4.774,21.712 6.93,21.712 C8.492,21.712 9.328,20.876 9.79,19.622 L12.584,19.622 C12.078,22.35 10.12,24.22 6.93,24.22 C3.322,24.22 0.638,21.382 0.638,17.246 Z M14.366,24 L14.366,9.7 L17.094,9.7 L17.094,15.068 C17.622,14.452 18.59,13.946 19.734,13.946 C21.956,13.946 23.21,15.398 23.21,17.576 L23.21,24 L20.482,24 L20.482,18.148 C20.482,17.114 19.954,16.41 18.876,16.41 C18.04,16.41 17.314,16.916 17.094,17.774 L17.094,24 L14.366,24 Z M31.46,20.788 L33.99,20.788 C33.638,22.878 32.098,24.22 29.634,24.22 C26.774,24.22 24.86,22.13 24.86,19.094 C24.86,16.124 26.84,13.946 29.59,13.946 C32.472,13.946 34.056,15.948 34.056,18.83 L34.056,19.666 L27.5,19.666 C27.588,21.14 28.424,22.02 29.634,22.02 C30.558,22.02 31.24,21.624 31.46,20.788 Z M29.612,16.168 C28.556,16.168 27.808,16.806 27.566,18.016 L31.372,18.016 C31.35,16.982 30.734,16.168 29.612,16.168 Z M35.266,19.094 C35.266,16.036 37.202,13.946 39.996,13.946 C42.46,13.946 44.022,15.398 44.308,17.488 L41.624,17.488 C41.47,16.74 40.876,16.278 39.996,16.278 C38.742,16.278 37.972,17.422 37.972,19.094 C37.972,20.744 38.742,21.888 39.996,21.888 C40.876,21.888 41.47,21.426 41.624,20.678 L44.308,20.678 C44.022,22.79 42.46,24.22 39.996,24.22 C37.202,24.22 35.266,22.13 35.266,19.094 Z M52.382,24 L49.5,20.04 L48.708,20.898 L48.708,24 L45.98,24 L45.98,9.7 L48.708,9.7 L48.708,17.818 L52.074,14.166 L55.462,14.166 L51.48,18.346 L55.616,24 L52.382,24 Z M70.642,19.094 C70.642,22.108 68.684,24.22 65.824,24.22 C62.964,24.22 61.006,22.108 61.006,19.094 C61.006,16.058 62.964,13.946 65.824,13.946 C68.684,13.946 70.642,16.058 70.642,19.094 Z M67.936,19.094 C67.936,17.444 67.188,16.256 65.824,16.256 C64.46,16.256 63.712,17.444 63.712,19.094 C63.712,20.722 64.46,21.91 65.824,21.91 C67.188,21.91 67.936,20.722 67.936,19.094 Z M81.092,14.166 L81.092,24 L78.364,24 L78.364,23.098 C77.814,23.714 76.868,24.22 75.724,24.22 C73.524,24.22 72.27,22.768 72.27,20.59 L72.27,14.166 L74.998,14.166 L74.998,20.04 C74.998,21.074 75.504,21.778 76.582,21.778 C77.418,21.778 78.144,21.272 78.342,20.414 L78.342,14.166 L81.092,14.166 Z M84.04,21.03 L84.04,16.366 L82.544,16.366 L82.544,14.166 L84.04,14.166 L84.04,11.504 L86.746,11.504 L86.746,14.166 L88.902,14.166 L88.902,16.366 L86.746,16.366 L86.746,20.678 C86.746,21.448 87.164,21.8 87.868,21.8 C88.286,21.8 88.748,21.668 89.056,21.47 L89.056,23.89 C88.682,24.088 88.022,24.198 87.296,24.198 C85.294,24.198 84.04,23.208 84.04,21.03 Z M102.982,14.166 L104.61,20.436 L106.37,14.166 L109.01,14.166 L106.018,24 L103.51,24 L101.904,17.972 L100.298,24 L97.79,24 L94.798,14.166 L97.526,14.166 L99.286,20.436 L100.892,14.166 L102.982,14.166 Z M113.212,14.166 L113.212,24 L110.484,24 L110.484,14.166 L113.212,14.166 Z M113.454,11.328 C113.454,12.252 112.706,12.89 111.848,12.89 C110.968,12.89 110.22,12.252 110.22,11.328 C110.22,10.426 110.968,9.766 111.848,9.766 C112.706,9.766 113.454,10.426 113.454,11.328 Z M116.182,21.03 L116.182,16.366 L114.686,16.366 L114.686,14.166 L116.182,14.166 L116.182,11.504 L118.888,11.504 L118.888,14.166 L121.044,14.166 L121.044,16.366 L118.888,16.366 L118.888,20.678 C118.888,21.448 119.306,21.8 120.01,21.8 C120.428,21.8 120.89,21.668 121.198,21.47 L121.198,23.89 C120.824,24.088 120.164,24.198 119.438,24.198 C117.436,24.198 116.182,23.208 116.182,21.03 Z M123.178,24 L123.178,9.7 L125.906,9.7 L125.906,15.068 C126.434,14.452 127.402,13.946 128.546,13.946 C130.768,13.946 132.022,15.398 132.022,17.576 L132.022,24 L129.294,24 L129.294,18.148 C129.294,17.114 128.766,16.41 127.688,16.41 C126.852,16.41 126.126,16.916 125.906,17.774 L125.906,24 L123.178,24 Z" id="Check-out-with" fill="#060809"></path>
                  </g>
                </g>
              </g>
            </svg>
          </button>

          <div class="has-text-centered" style="padding-top:1rem">
            <p class="is-size-5">Or</p>
          </div>

          <div class="shopify-checkout">
            <input type="submit" name="checkout" class="button color" value="Select Payment Option">
          </div>

          {{ content_for_additional_checkout_buttons }}


        </div>

        <style>
          .additional-checkout-button+.additional-checkout-button {
                margin-left: 0px;
                width: 100% !important;
           }

          .nwd-insert p.title {
             font-size: 24px !important;
           }

          .shopify-checkout .button {
            width: 100%;
          }
        </style>
      </div>
      <!-- END BOLT -->

      {% comment %}
      <input type="submit" name="checkout" value="{{ 'cart.checkout' | t }}">
      {% endcomment %}

      {% comment %}
      {% if type == 'page' and additional_checkout_buttons %}
        <div class="add-buttons">{{ content_for_additional_checkout_buttons }}</div>
      {% endif %}
      {% endcomment %}

    </div>

  </div>

</form>
<!-- BOLT -->
{{ 'bolt-currency-symbols-0.1.min.js' | asset_url | script_tag }}
<!-- END BOLT -->
