{%- assign variant_options = 'metal-color' | split: ',' -%}
{% assign to_trim = variant_option | append: '-' %}
{% assign variant_image = product.featured_image  %}
{% assign product_image = variant_image %}
{% assign variant_id = empty %}
{% for option in product.options %}
  {% assign downcased_option = option | downcase %}
  {% if variant_option contains downcased_option %}
    {% assign option_index = forloop.index0 %}
    {% assign values = '' %}
    {% for variant in product.variants %}
      {% if variant.available %}
        {% assign value = variant.options[option_index] %}
        {% assign selected_tag = value | handle %}
        {% assign all_selected = current_tags | join: '||' | append: '||' | append: collection.handle %}
        {% assign all_selected_list = all_selected | split: '||' %}
        {% for tag in all_selected_list %}
          {% if tag.size > 0 %}
            {% assign tag_trimmed = tag | replace: to_trim, '' %}
            {% if selected_tag contains tag_trimmed or tag_trimmed contains selected_tag %}
              {% assign new_variant_image = variant.featured_image  %}
              {% if variant.featured_image and new_variant_image != product_image %}
                  {% assign variant_image = new_variant_image %}
                  {% assign variant_id = variant.id %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign all_selected = current_tags | join: '||' | append: '||' | append: collection.handle %}
{% assign all_selected_list = all_selected | split: '||' %}
{% assign variant_ids = empty %}
{% assign matched_variant_ids = empty %}
{% for variant_option in variant_options %}
  {% assign variant_ids_current = empty %}
  {% assign to_trim = variant_option | append: '-' %}
  {% for option in product.options %}
    {% assign downcased_option = option | handle %}
    {% if downcased_option == variant_option %}
      {% assign option_index = forloop.index0 %}
      {% assign values = '' %}
      {% for variant in product.variants %}
        {% if variant.available %}
          {% assign value = variant.options[option_index] %}
          {% assign selected_tag = value | handle %}
          {% for tag in all_selected_list %}
            {% assign tag_trimmed = tag | replace: to_trim, '' %}
            {% if selected_tag == tag_trimmed %}
                {% assign variant_ids_current = variant_ids_current | append: variant.id | append: ',' %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% assign matched_variant_ids = empty %}
  {% unless variant_ids_current == blank %}
  {% if variant_ids == blank %}
    {% assign variant_ids = variant_ids_current %}
  {% else %}
    {% assign variant_ids_current_list = variant_ids_current | split: ',' %}
    {% for variant_id_current in variant_ids_current_list %}
      {% if variant_ids contains variant_id_current %}
      {% assign matched_variant_ids = matched_variant_ids | append: variant_id_current | append: ','  %}
      {% endif %}
    {% endfor %}
    {% assign variant_ids = matched_variant_ids %}
    {% endif %}
  {% endunless %}
{% endfor %}

{% unless variant_ids == blank %}
  {% assign variant_id = variant_ids | split: ',' | first %}
{% endunless %}

{% for variant in product.variants %}
  {% capture variant_id_loop %}{{ variant.id }}{% endcapture %}
  {% if variant_id == variant_id_loop %}
    {% if variant.featured_image %}
      {% assign variant_image = variant.featured_image %}
    {% endif %}
    {% assign variant_id = variant.id %}
    {% assign variant_obj = variant %}
  {% endif %}
{%- endfor -%}

{% assign per_page = section.settings.home_collection_no | times: 1 %}

{% assign image_src = variant_image %}

<a href="{{ product.url | within: collection }}{%- if variant_id != blank -%}?variant={{ variant_id }}{% else %}?variant={{ product.variants.first.id }}{%- endif -%}" class="product-item style--{{ settings.product_animation }} {% if per_page == 4 %} lap--box--small-lg {% endif %}">

  <div class="box--product-image primary">

    <img
      src="{{ image_src | img_url: '960x' }}" alt="{{ variant_image.alt | escape }}"
      srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-srcset="{{ image_src | img_url: '480x' }} 360w, {{ image_src | img_url: '600x' }} 480w, {{ image_src | img_url: '1100x' }} 960w, {{ image_src | img_url: '1600x' }} 1440w, {{ image_src | img_url: '2100x' }} 1920w"
      data-sizes="auto"
      class="lazyload"
    />

    <noscript><span class="ll-fallback" style="background-image:url({{ variant_image | img_url: '960x' }})"></span></noscript>

  </div>

  {% if settings.product_show_secondary and product.images.size >= 2 %}
    <div class="box--product-image secondary">

      <img
        src="{{ product.images[1].src | img_url: '960x' }}" alt="{{ product.images[1].alt | escape }}"
        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-srcset="{{ product.images[1].src | img_url: '480x' }} 360w, {{ product.images[1].src | img_url: '600x' }} 480w, {{ product.images[1].src | img_url: '1100x' }} 960w, {{ product.images[1].src | img_url: '1600x' }} 1440w, {{ product.images[1].src | img_url: '2100x' }} 1920w"
        data-sizes="auto"
        class="lazyload"
      />

      <noscript><span class="ll-fallback" style="background-image:url({{ product.images[1].src | img_url: '960x' }})"></span></noscript>

    </div>
  {% endif %}

  <div class="caption">
    <div>
      <h3><span class="overflowed">{{ product.title }}</span></h3>
      <span class="price"><span class="overflowed">

        {% capture price %} {{ product.price | money }} {% endcapture %}

        {% if product.price_varies %}

          {% if product.compare_at_price > product.price %}
            {{ 'product.on_sale_from_html' | t: price: price }}
          {% else %}
            {{ 'product.from_text_html' | t: price: price }}
          {% endif %}

        {% else %}

          {% if product.compare_at_price > product.price %}
            {{ price }} <del>{{ product.compare_at_price | money }}</del>
          {% else %}
            {{ price }}
          {% endif %}

        {% endif %}

      </span></span>
      <span aria-hidden="true">{% include 'asset_svg' with 'arrow_icon_long_overflowed' %}</span>
    </div>
  </div>

  {% include 'product_badges' %}

</a>
