<div class="table-wrapper has-background-light">
  <div class="container table-container">
    <div class="results">
      <div class="loader-ellips">
        <span class="loader-ellips__dot is-hidden"></span>
        <span class="loader-ellips__dot is-hidden"></span>
        <span class="loader-ellips__dot is-hidden"></span>
        <span class="loader-ellips__dot is-hidden"></span>
      </div>
      <span class="page-count is-hidden" data-total-pages="{{ paginate.pages }}"></span>
      <p class="hyp-light is-size-6 has-text-black is-uppercase has-text-centered"><span class="loading is-hidden">Loading </span>Results <span class="count">({{collection.products_count}})</span></p>
    </div>
    <table id="diamondTable" class="table is-fullwidth is-striped is-hoverable loose-stones is-size-7-touch tablesorter">
      <thead class="is-size-7-mobile is-size-6 has-text-black">
        <tr>
          <th class="hyp-semibold is-hidden-mobile sorter-false">Stone</th>
          <th class="hyp-semibold is-hidden-mobile">Type</th>
          <th class="hyp-semibold">Shape</th>
          <th class="hyp-semibold sorter-leadingZeros">Carat</th>
          <th class="hyp-semibold">Color</th>
          <th class="hyp-semibold">Clarity</th>
          <th class="hyp-semibold">Cut</th>
          <th class="hyp-semibold is-hidden-touch">Report</th>
          <th class="hyp-semibold">Price</th>
          <th class="hyp-semibold is-hidden-mobile sorter-false">Details</th>
        </tr>
      </thead>
      <tbody>

      {%- for product in collection.products -%}

        {%- assign color_grade = product.metafields.details.color -%}

        {% capture color_grade_index %}
          {%- if color_grade == 'E' -%}
            0
          {%- elsif color_grade == 'F' -%}
            1
          {%- elsif color_grade == 'G' -%}
            2
          {%- elsif color_grade == 'H' -%}
            3
          {%- elsif color_grade == 'I' -%}
            4
          {%- elsif color_grade == 'J' -%}
            5
          {%- elsif color_grade == 'K' -%}
            6
          {%- elsif color_grade == 'L' -%}
            7
          {%- else -%}
            8
          {%- endif -%}
        {%- endcapture -%}

        {%- capture white_checker -%}
          {% for tag in product.tags %}
            {% if tag contains 'white-diamonds' %}
              true
            {% endif %}
          {% endfor %}
        {%- endcapture -%}

        {%- if product.metafields.details.color_short != blank -%}

          {%- assign color_value = product.metafields.details.color_short -%}

          {% capture color_value_index %}
            {%- if color_value == 'Blue' or color_value =='blue' -%}
              91
            {%- elsif color_value == 'Pink' or color_value =='pink' -%}
              92
            {%- elsif color_value == 'Red' or color_value =='red' -%}
              93
            {%- elsif color_value == 'Purple' or color_value =='purple' -%}
              94
            {%- elsif color_value == 'Yellow' or color_value =='yellow' -%}
              95
            {%- elsif color_value == 'Orange' or color_value =='orange' -%}
              96
            {%- elsif color_value == 'Smoky' or color_value =='smoky' -%}
              97
            {%- elsif color_value == 'Olive' or color_value =='olive' -%}
              98
            {%- elsif color_value == 'Black' -%}
              99
            {%- elsif color_value == 'black' -%}
              99
            {%- endif -%}
          {%- endcapture -%}

        {%- endif -%}


        {%- assign clarity_grade = product.metafields.details.clarity -%}

        {% capture clarity_grade_index %}
          {%- if clarity_grade == 'VVS1' -%}
            0
          {%- elsif clarity_grade == 'VVS2' -%}
            1
          {%- elsif clarity_grade == 'VS1' -%}
            2
          {%- elsif clarity_grade == 'VS2' -%}
            3
          {%- elsif clarity_grade == 'SI1' -%}
            4
          {%- else -%}
            5
          {%- endif -%}
        {%- endcapture -%}

        {%- assign cut_grade = product.metafields.details.grade -%}

        {% capture cut_grade_index %}
          {%- if cut_grade == 'Excellent' -%}
            0
          {%- elsif cut_grade == 'Ideal' -%}
            1
          {%- elsif cut_grade == 'Very Good' -%}
            2
          {%- else -%}
            3
          {%- endif -%}
        {%- endcapture -%}

        <tr class="hyp-light clickable-row {{ display_class }}" data-link="{{ product.url | within: collection }}">

          <td class="is-hidden-mobile">
            <div class="thumb">
              {%- if product.featured_image != blank -%}

                {% assign image.src = product.featured_image %}
                <img
                  src="{{ product.featured_image | img_url: '128x' }}" alt="{{ product.featured_image.alt | escape }}"
                  data-sizes="auto"
                  class="lazyload"
                />
                <!-- <a href="{{ product.url | within: collection }}">
                  {%- include 'responsive-image' with
                    image: product.featured_image,
                    max_width: 64,
                    max_height: 64
                  -%}
                </a> -->
              {%- endif -%}
            </div>
          </td>

          <td class="is-hidden-mobile">
            {%- if product.tags contains 'white-diamonds' -%}
              White
            {%- elsif product.tags contains 'color-diamonds' -%}
              Color
            {%- endif -%}
          </td>

          <td>{{ product.metafields.details.shape }}</td>

          <td>{{ product.metafields.details.carat_wgt }}</td>

          {%- if product.metafields.details.color_short != blank -%}
            <td data-sort-value="{{ color_value_index }}">{{ product.metafields.details.color_short | capitalize }}</td>
          {%- else -%}
            <td data-sort-value="{{ color_grade_index }}">{{ product.metafields.details.color }}</td>
          {%- endif -%}

          <td data-sort-value="{{ clarity_grade_index }}">{{ product.metafields.details.clarity }}</td>

          <td data-sort-value="{{ cut_grade_index }}">{{ product.metafields.details.grade }}</td>

          <td class="is-hidden-touch">{{ product.metafields.details.certifying_lab }}</td>

          <td>
            {%- unless product.available -%}{{ 'products.product.sold_out' | t }}{%- endunless -%}
            {{ product.price | money | remove: '.00' }}
          </td>

          <td class="is-hidden-mobile">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  View
                </div>
                <div class="level-item">
                  <span class="icon has-text-black">
                    <i class="fal fa-angle-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </td>

        </tr>
      {%- endfor- %}
      </tbody>
    </table>
  </div>
</div>
