{% assign per_page = section.settings.home_collection_no | times: 1 %}


<a href="{{ product.url | within: collection }}" class="product-item style--{{ settings.product_animation }} {% if per_page == 4 %} lap--box--small-lg {% endif %}">

  <div class="box--diamond">
    <div class="box--diamond-detail box-thumb">

        <img
          src="{{ product.featured_image.src | img_url: '256x' }}" alt="{{ product.featured_image.alt | escape }}"
          class="lazyload"
        />

        <noscript><span class="ll-fallback" style="background-image:url({{ product.featured_image.src | img_url: '960x' }})"></span></noscript>

    </div>

    <div class="box--diamond-detail box-type">
      <h3>
        <span class="overflowed">
          {%- if product.tags contains 'white-diamonds' -%}
            White
          {%- elsif product.tags contains 'color-diamonds' -%}
            Color
          {%- endif -%}
        </span>
      </h3>
    </div>

    <div class="box--diamond-detail box-shape">
      <h3><span class="overflowed">{{ product.metafields.details.shape }}</span></h3>
    </div>

    <div class="box--diamond-detail box-weight" data-weight="{{ product.metafields.details.carat_wgt }}">
      <h3><span class="overflowed">{{ product.metafields.details.carat_wgt }}</span></h3>
    </div>

    <div class="box--diamond-detail box-color">
      {%- if product.metafields.details.color_short != blank -%}
        <h3><span class="overflowed">{{ product.metafields.details.color_short | capitalize }}</span></h3>
      {% else %}
        <h3><span class="overflowed">{{ product.metafields.details.color }}</span></h3>
      {% endif %}
    </div>

    <div class="box--diamond-detail box-clarity">
      <h3><span class="overflowed">{{ product.metafields.details.clarity }}</span></h3>
    </div>

    <div class="box--diamond-detail box-grade">
      <h3><span class="overflowed">
        {%- if product.metafields.details.grade != blank -%}
          {{ product.metafields.details.grade }}
        {%- else -%}
          <span class="not-available">n/a</span>
        {%- endif -%}
      </span></h3>
    </div>

    <div class="box--diamond-detail box-lab">
      <h3><span class="overflowed">{{ product.metafields.details.certifying_lab }}</span></h3>
    </div>

    <div class="box--diamond-detail box-price" data-price="{{ product.price | money_without_currency }}">
      <span class="price"><span class="overflowed">

        {% capture price %} {{ product.price | money_without_trailing_zeros }} {% endcapture %}

        {% if product.price_varies %}

          {% if product.compare_at_price > product.price %}
            {{ 'product.on_sale_from_html' | t: price: price }}
          {% else %}
            {{ 'product.from_text_html' | t: price: price }}
          {% endif %}

        {% else %}

          {% if product.compare_at_price > product.price %}
            {{ price }} <del>{{ product.compare_at_price | money_without_trailing_zeros }}</del>
          {% else %}
            {{ price }}
          {% endif %}

        {% endif %}
      </span></span>
    </div>

    <div class="box--diamond-detail box-arrow">
      <!-- <div class="caption"> -->
          <div class="icon"><span aria-hidden="true">{% include 'asset_svg' with 'arrow_icon_long_overflowed' %}</span></div>
      <!-- </div> -->
    </div>



  </div>

</a>
