<div class="footer-content site-box-content" {{ block.shopify_attributes }}>

  {% if block.settings.title %}
    <h4>{{ block.settings.title | escape }}</h4>
  {% endif %}

	<ul class="footer-links">
		{% for link in linklists[block.settings.footer_menu_select].links %}
			<li><a class="footer-link" href="{{ link.url }}">{{ link.title }}</a></li>
		{% endfor %}
    {% if shop.customer_accounts_enabled %}
  		<li class="login">
  			<a class="footer-link" href="{% if customer %}/account{% else %}/account/login{% endif %}">
  				{% if customer %}
  					<span>{{ 'general.navigation.account' | t }}</span>
  				{% else %}
  					<span>{{ 'general.navigation.login' | t }}</span>
  				{% endif %}
  			</a>
  		</li>
  	{% endif %}
	</ul>

  {% if block.settings.caption %}
    <p class="caption">{{ block.settings.caption | escape }}</p>
  {% endif %}

</div>
