<div class="footer-content site-box-content" {{ block.shopify_attributes }}>

  <a class="knot" target="_blank" href="https://www.theknot.com/marketplace/redirect-2031246?utm_source=vendor_website&utm_medium=banner&utm_term=65979a4d-5097-408c-a75a-800cb6d6c3b6&utm_campaign=vendor_badge_assets"><img alt="As Seen on The Knot" border="0" src="https://www.xoedge.com/myaccount/2019/website-share/VendorBadge_AsSeenOnWeb.png" width="190"></a>


  {% if block.settings.title %}
    <h4>{{ block.settings.title | escape }}</h4>
  {% endif %}

  {% include 'header_footer-social' with 'large' %}

  {% if block.settings.caption %}
    <p class="caption">{{ block.settings.caption | escape }}</p>
  {% endif %}

</div>
