{% if section.settings.banner_enable %}

  <div id="{{ section.id }}" class="site-box box__landing-banner box__image-text box--typo-bigger style--{{ section.settings.banner_txt_style }} align--{{ section.settings.banner_txt_align }}" style="background-color: {{ section.settings.slide_bg}}">

    <div class="site-box-content">

      <div class="content">

        {% unless page.id == 44113002563 %}
          {% include 'menu_breadcrumb' %}
        {% endunless %}

        {% unless section.settings.banner_caption == blank %}
          <p class="caption">{{ section.settings.banner_caption | escape }}</p>
        {% endunless %}

        {% unless section.settings.banner_title == blank %}
          <h2 class="title">{{ section.settings.banner_title | escape }}</h2>
        {% endunless %}

        {% unless section.settings.banner_details == blank %}
          <p class="details">{{ section.settings.banner_details | escape }}</p>
        {% endunless %}

        {% unless section.settings.banner_link == blank %}
          <a class="button with-icon" style="margin-top:0px;" href="{{ section.settings.banner_link }}">{{ section.settings.button }} <span class="icon">{% include 'asset_svg' with 'arrow_icon_smallest' %}</span></a>
        {% endunless %}

      </div>

    </div>

    {% unless section.settings.banner_background == blank %}

    <span class="site-box-background with-image {% unless section.settings.inherit_enable == false %}is-inherit{% endunless %}" aria-hidden="true">

      <img
        src="{{ section.settings.banner_background | img_url: '960x' }}" alt="{{ section.settings.banner_title | escape }}"
        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-srcset="{{ section.settings.banner_background | img_url: '600x' }} 480w, {{ section.settings.banner_background | img_url: '860x' }} 720w, {{ section.settings.banner_background | img_url: '1100x' }} 960w, {{ section.settings.banner_background | img_url: '1600x' }} 1440w, {{ section.settings.banner_background | img_url: '2100x' }} 1920w"
        data-sizes="auto"
        class="lazyload"
      />

      <noscript><span class="ll-fallback" style="background-image:url({{ section.settings.banner_background | img_url: '960x' }}, crop: 'center' }})"></span></noscript>

    </span>

    {% endunless %}

    {% if section.settings.countdown_enable %}
      <div class="countdown hide" data-date="{{ section.settings.countdown_year }},{{ section.settings.countdown_month }},{{ section.settings.countdown_day }},{{ section.settings.countdown_hour }}" data-timezone="{{ section.settings.countdown_zone }}" aria-hidden="true">
        <span class="helper">{{ 'general.time_left' | t }}</span><span class="time"><span class="days"></span><span class="separator">:</span><span class="hours"></span><span class="separator">:</span><span class="minutes"></span><span class="separator">:</span><span class="seconds" /></span>
      </div>
    {% endif %}

  </div>

{% endif %}

<style type="text/css">

@media (max-width:480px) {
  .site-box.box__landing-banner .site-box-background.with-image img {
    height: {{ section.settings.background_scale }} !important;
  }
}

</style>
