{% for block in section.blocks %}

  {% case block.type %}

    {% when 'collection' %}

    	<div id="block-{{ block.id }}" {{ block.shopify_attributes }} class="mount-products mount-images">

	    	<div class="site-box-container container--fullscreen">

			    <div class="collection__holder odd">

						{% assign product_count = collections[block.settings.collection].products_count | times: 1 %}
						{% assign per_page = block.settings.collection_per | times: 1 %}

						{% if product_count == 0 %}

				      {% for i in (1..per_page) %}
				        <div class="site-box box--small box--typo-small lap--box--small-lg box--center-align box--no-padding box--column-flow box__collection">
				          <div class="site-box-content">
				            {% assign no = forloop.index | modulo:6 | plus:1 %}
				            {% capture product_img %} {{ 'svg_product-X.svg' | replace: 'X', no | asset_url }} {% endcapture %}
				            {% include 'collection_product-blank' with product_img %}
				          </div>
				        </div>
				      {% endfor %}

				    {% else %}

				      {% for product in collections[block.settings.collection].products limit:per_page %}
				        <div class="site-box box--small box--typo-small lap--box--small-lg box--center-align box--no-padding box--column-flow box__collection">
				          <div class="site-box-content">
				            {% include 'collection_product-content' %}
				          </div>
				        </div>
				      {% endfor %}

				    {% endif %}

				  </div>

			  </div>

		  </div>

		{% when 'separator' %}

			{% capture alt-style %}
				{% if block.settings.slide_bg == '#ff6e61' or block.settings.slide_bg == '#ec6a5f'%}
				alt-link-style
				{% endif %}
			{% endcapture %}

			<div id="block-{{ block.id }}" {{ block.shopify_attributes }} class="mount-content-row">
			  <div class="site-box-container container--fullscreen">
   				<div class="site-box box--small-fl lap--box--small-fl box__announcement {% if block.settings.slide_size == '1' %}slim{% elsif  block.settings.slide_size == '2' %}button-bar{% endif %} box--typo-big box--center-align box--column-flow {{ alt-style }} {% unless block.settings.add_class == blank %} {{ block.settings.add_class }} {% endunless %}" style="background-color: {{ block.settings.slide_bg }}">
		     	  <div class="site-box-content">
		          <div class="content">
								{% unless block.settings.subtitle == blank %}

									<p class="subtitle">{{ block.settings.subtitle | escape }}</p>

								{% endunless %}

								{% unless block.settings.title == blank %}

									<p class="title" style="color: {{ block.settings.slide_text }}">{{ block.settings.title | escape }}</p>

								{% endunless %}

								{% if block.settings.code != blank %}
									{{ block.settings.code }}
								{% endif %}

                {% if block.settings.page != blank %}

									{% unless block.settings.title == 'How It Works' %}
                  	<h4 style="text-align:center; font-weight:600; margin-top:30px;">{{ pages[block.settings.page].title | escape }}</h4>
									{% endunless %}

                  <div class="rte">
                    {{ pages[block.settings.page].content }}
                  </div>

									{% if pages[block.settings.page].title == 'Contact Us to Create Your Own Ring or Jewelry' %}

										{% include 'contact' %}

									{% endif %}

                {% else %}

									{% if block.settings.cta == 'Contact' %}

										<div class="rte widow-fixed" style="color: {{ block.settings.slide_text }}">
											<p>
												Imagine the possibilities of a diamond ring that's as unique as you are, for any milestone you want to celebrate. Call us at <a class="cancel_animate" href="tel:+18776532250">877-653-2250</a>, text us at <a class="cancel_animate" href="sms:+12486712250">248-671-2250</a> or email us by clicking <a class="cancel_animate" href="mailto:hello@newworlddiamonds.com">here!</a>
											</p>
										</div>

									{% else %}

										{% unless block.settings.text == blank %}

											<div class="rte widow-fixed" style="color: {{ block.settings.text }}">{{ block.settings.text }}</div>

										{% endunless %}

									{% endif %}

                {% endif %}

								{% unless block.settings.separator_link == blank %}
									<div class="is-center-aligned">
										<a class="button with-icon" {% unless block.settings.slide_size == '2' %} style="margin-top:30px;" {% endunless %} href="{{ block.settings.separator_link }}">{{ block.settings.cta }} <span class="icon">{% include 'asset_svg' with 'arrow_icon_smallest' %}</span></a>
									</div>

								{% endunless %}

		          </div>
		        </div>
					</div>
		    </div>
		  </div>

	  {% when 'image' %}

	  	{% if block.settings.width == '100' %}
	  		{% if block.settings.height == '100' %}
	  			{% assign size_class = 'box--bigger box--typo-bigger lap--box--small-fl' %}
	  		{% elsif block.settings.height == '50' %}
	  			{% assign size_class = 'box--small-fl box--typo-big' %}
				{% else %}
	  			{% assign size_class = 'box--small box--typo-small lap--box--small-lg' %}
	  		{% endif %}
	  	{% else %}
	  		{% if block.settings.height == '100' %}
	  			{% assign size_class = 'box--big box--typo-big lap--box--small-fl palm--box--small-fl' %}
	  		{% else %}
					{% assign size_class = 'box--small-lg box--typo-small palm--box--small-fl' %}
				{% endif %}
			{% endif %}

			<{% unless block.settings.button != blank %}a{% else %}div{% endunless %} {% unless block.settings.link == blank %} href="{{ block.settings.link | escape }}" {% endunless %} id="block-{{ block.id }}" {{ block.shopify_attributes }} class="site-box box--center-align box--column-flow {{ size_class }} box__image-text style--{{ block.settings.bg_style }} align--{{ block.settings.txt_align }} button-{{ block.settings.button }} {% unless block.settings.video_src == blank %} with-video {% endunless %} {% unless block.settings.svg_src == blank %} with-svg {% endunless %} {% unless block.settings.box_style == 'normal' %} is-banner {% endunless %} {% unless block.settings.add_class == blank %} {{ block.settings.add_class }} {% endunless %}">

			{% if block.settings.badge_text != blank %}
				<div class="product-badge lp-badge"><span>{{ block.settings.badge_text }}</span></div>
			{% endif %}

			  <div class="site-box-content">

			    <div class="content">

			      {% unless block.settings.title == blank %}
			        <h2 class="title {% if block.settings.box_style == 'normal' %}{% unless block.settings.button != blank %} add-hr {% endunless %}{% endif %}">{{ block.settings.title | escape }}</h2>
			      {% endunless %}

						{% assign product = all_products[block.settings.featured_product] %}
						{% assign current_variant = product.selected_or_first_available_variant %}
						{% assign compare_at_price = current_variant.compare_at_price %}
						{% assign price = current_variant.price %}

						{% if product == empty %}
							{% assign caption = block.settings.caption | escape %}
							{% capture priced %}
								<p class="price">{{ block.settings.price | escape }}</p>
							{% endcapture%}
						{% else %}
							{% assign caption = product.title %}
							{% capture priced %}
								<span class="price">
									{% include 'product_badges' %}
									<span class="product-price">{{ price | money }}</span>
									{% if compare_at_price > price %}
										<span class="info compare-price">{{ compare_at_price | money }}</span>
									{% endif %}
								</span>
							{% endcapture %}
						{% endif %}

            <p class="caption">
							{{ caption }}
            </p>

						{% unless price == empty %}
							{{ priced }}
						{% endunless %}

            {% unless block.settings.metal == blank %}
              <p class="metal">{{ block.settings.metal | escape }}</p>
            {% endunless %}

            {% unless block.settings.price == blank %}
              <p class="price">{{ block.settings.price | escape }}</p>
							<!-- <p class="button-row">
								<span class="shop-now">Shop Now</span>
							</p> -->
            {% endunless %}

			      {% unless block.settings.button == blank %}
			        <a class="button with-icon {{ block.settings.bg_style }}" {% unless block.settings.link == blank %} href="{{ block.settings.link }}" {% endunless %}> {{ block.settings.button | escape }} <span class="icon" aria-hidden="true">{% include 'asset_svg' with 'arrow_icon_smallest' %}</span></a>
			      {% endunless %}

			    </div>

			  </div>

				{% if block.settings.video_src != blank %}

				<span class="site-box-background with-image" aria-hidden="true" {% unless block.settings.bg_color == blank %} style="background-color:{{ block.settings.bg_color }}"{% endunless %}>


					<div class="lp-player">
						<video-js id="vid-{{ block.id }}" preload="auto" playsinline muted loop width="100%" class="video-js" data-setup='{"aspectRatio": "1:1"}'>
							<source src="{{ settings.video_url }}{{ block.settings.video_src }}" type="video/mp4">
						</video-js>
					</div>


				</span>


        <span class="site-box-background with-image video-fallback" aria-hidden="true" {% unless block.settings.bg_color == blank %} style="background-color:{{ block.settings.bg_color }}"{% endunless %}>
            <img
              src="{{ block.settings.bg_img | img_url: '960x' }}" alt="{{ block.settings.title | escape }}"
              srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-srcset="{{ block.settings.bg_img | img_url: '600x' }} 480w, {{ block.settings.bg_img | img_url: '860x' }} 720w, {{ block.settings.bg_img | img_url: '1100x' }} 960w, {{ block.settings.bg_img | img_url: '1600x' }} 1440w, {{ block.settings.bg_img | img_url: '2100x' }} 1920w"
              data-sizes="auto"
              class="lazyload"
            />

            <noscript><span class="ll-fallback" style="background-image:url({{ block.settings.bg_img | img_url: '960x' }})"></span></noscript>
        </span>





				{% elsif block.settings.svg_src != blank %}
					{% capture icon_name %}
						{{ block.settings.svg_src }}
					{% endcapture %}

					{% capture is_long %}
						{%
							if block.settings.svg_src == 'diamond_shape_marquise-cut-diamonds'
							or block.settings.svg_src == 'diamond_shape_pear-shaped-diamonds'
							or block.settings.svg_src == 'diamond_shape_oval-diamonds'
						%}
							1
						{% endif %}
					{% endcapture %}

					<span class="site-box-background with-image" aria-hidden="true" {% unless block.settings.bg_color == blank %} style="background-color:{{ block.settings.bg_color }}"{% endunless %}>
						<div class="svg-box {% unless is_long == blank %}long{% endunless %}">{% include 'asset_svg' with block.settings.svg_src %}</div>
					</span>

				{% else %}

					<span class="site-box-background with-image" aria-hidden="true" {% unless block.settings.bg_color == blank %} style="background-color:{{ block.settings.bg_color }}"{% endunless %}>

						{% if product == empty %}

							{% if block.settings.bg_img == blank %}



							{% else %}

								<img
									src="{{ block.settings.bg_img | img_url: '960x' }}" alt="{{ block.settings.title | escape }}"
									srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-srcset="{{ block.settings.bg_img | img_url: '600x' }} 480w, {{ block.settings.bg_img | img_url: '860x' }} 720w, {{ block.settings.bg_img | img_url: '1100x' }} 960w, {{ block.settings.bg_img | img_url: '1600x' }} 1440w, {{ block.settings.bg_img | img_url: '2100x' }} 1920w"
									data-sizes="auto"
									class="lazyload"
								/>

								<noscript><span class="ll-fallback" style="background-image:url({{ block.settings.bg_img | img_url: '960x' }})"></span></noscript>


							{% endif %}

						{% else %}

						<img
							src="{{ product.featured_image | img_url: '960x' }}" alt="{{ product.title | escape }}"
							srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-srcset="{{ product.featured_image | img_url: '600x' }} 480w, {{ product.featured_image | img_url: '860x' }} 720w, {{ product.featured_image | img_url: '1100x' }} 960w, {{ product.featured_image | img_url: '1600x' }} 1440w, {{ product.featured_image | img_url: '2100x' }} 1920w"
							data-sizes="auto"
							class="lazyload"
						/>

						<noscript><span class="ll-fallback" style="background-image:url({{ product.featured_image | img_url: '960x' }})"></span></noscript>

						{% endif %}

					</span>

				{% endif %}

			</{% unless block.settings.button != blank %}a{% else %}div{% endunless %}>


	{% when 'collection-grid-3' %}

		{% assign collection_1 = collections[block.settings.collection_1] %}
		{% assign collection_2 = collections[block.settings.collection_2] %}
		{% assign collection_3 = collections[block.settings.collection_3] %}

		<div id="block-{{ block.id }}" {{ block.shopify_attributes }} class="site-box-container container--fullscreen add-border">

			{% for i in (1..3) %}

				{% case forloop.index %}
					{% when 1 %}
						{% assign collection_idx = collection_1 %}
						{% assign box_style = 'box--big box--typo-big lap--box--small-lg palm--box--small-fl' %}
						{% assign box_bg = block.settings.bg_style_1 %}
					{% when 2 %}
						{% assign collection_idx = collection_2 %}
						{% assign box_style = 'box--small-lg box--typo-big  palm--box--small-fl' %}
						{% assign box_bg = block.settings.bg_style_2 %}
					{% when 3 %}
						{% assign collection_idx = collection_3 %}
						{% assign box_style = 'box--small-lg box--typo-big  palm--box--small-fl' %}
						{% assign box_bg = block.settings.bg_style_3 %}
				{% endcase %}

				<div class="site-box box--center-align box--column-flow {{ box_style }} box__image-text style--{{ box_bg }} align--{{ block.settings.txt_align }} button-true" data-order="1">

					<div class="site-box-content">
						<div class="content">
							<h2 class="title">{{ collection_idx.title | escape }}</h2>
							<a class="button with-icon {{ block.settings.bg_style }}" href="{{ collection_idx.url }}"> {{ 'general.shop_now' | t }} <span class="icon" aria-hidden="true">{% include 'asset_svg' with 'arrow_icon_smallest' %}</span></a>
						</div>
					</div>

					<span class="site-box-background with-image" aria-hidden="true">

						{% if collection_idx == empty %}
							{% assign no = forloop.index | modulo:6 | plus:1 %}
							<span class="onboarding-svg">{{ 'collection-X' | replace: 'X', no | placeholder_svg_tag }}</span>
						{% else %}
							{% if collection_idx.image %}
								{% assign collection_image = collection_idx.image %}
							{% elsif collection_idx.products.first != blank %}
								{% assign collection_image = collection_idx.products.first %}
							{% endif %}
							<img
								src="{{ collection_image | img_url: '960x' }}" alt="{{ collection_image | escape }}"
								srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-srcset="{{ collection_image | img_url: '480x' }} 360w, {{ collection_image | img_url: '600x' }} 480w, {{ collection_image | img_url: '1100x' }} 960w, {{ collection_image | img_url: '1600x' }} 1440w, {{ collection_image | img_url: '2100x' }} 1920w"
								data-sizes="auto"
								class="lazyload"
							/>
							<noscript><span class="ll-fallback" style="background-image:url({{ collection_image | img_url: '960x' }})"></span></noscript>
						{% endif %}

					</span>

				</div>

			{% endfor %}

		</div>

	{% when 'collection-grid-4' %}

		<div id="block-{{ block.id }}" class="site-box-container container--fullscreen box--can-stick per-4">
			<div class="site-box box--big lap--box--small-fl box--typo-big box--center-align box--column-flow box__heading" data-order="0">

				<div class="site-box-content">

		        <h2 class="title {{ block.settings.bg_style }}">
		          {{ block.settings.title | escape }}
		        </h2>

		    </div>

				{% unless block.settings.bg_img == blank %}

					<span class="site-box-background with-image" aria-hidden="true">

						<img
							src="{{ block.settings.bg_img | img_url: '960x' }}" alt="{{ block.settings.title | escape }}"
							srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-srcset="{{ block.settings.bg_img | img_url: '600x' }} 480w, {{ block.settings.bg_img | img_url: '860x' }} 720w, {{ block.settings.bg_img | img_url: '1100x' }} 960w, {{ block.settings.bg_img | img_url: '1440x' }} 1600w, {{ block.settings.bg_img | img_url: '2100x' }} 1920w"
							data-sizes="auto"
							class="lazyload"
						/>

						<noscript><span class="ll-fallback" style="background-image:url({{ block.settings.bg_img | img_url: '960x' }})"></span></noscript>

					</span>

				{% endunless %}

			</div>

			<div class="site-box box--big lap--box--bigger box--typo-big box--center-align box--column-flow box--no-padding box__collection" data-order="1">
				<div class="site-box-content">

					{% assign collection_1 = collections[block.settings.collection_1] %}
					{% assign collection_2 = collections[block.settings.collection_2] %}
					{% assign collection_3 = collections[block.settings.collection_3] %}
					{% assign collection_4 = collections[block.settings.collection_4] %}

					{% for i in (1..4) %}

						{% case forloop.index %}
							{% when 1 %}
								{% assign collection_idx = collection_1 %}
							{% when 2 %}
								{% assign collection_idx = collection_2 %}
							{% when 3 %}
								{% assign collection_idx = collection_3 %}
							{% when 4 %}
								{% assign collection_idx = collection_4 %}
						{% endcase %}

						{% assign no = forloop.index | modulo:4 | plus:1 %}

						{% if collection_idx.image %}
							{% assign collection_image = collection_idx.image %}
						{% elsif collection_idx.products.first != blank %}
							{% assign collection_image = collection_idx.products.first %}
						{% endif %}

						<a href="{{ collection_idx.url }}" class="product-item style--{{ settings.product_animation }} lap--box--small-lg">
							<div class="box--product-image primary">

								<img
									src="{{ collection_image | img_url: '960x' }}" alt="{{ collection_1.title | escape }}"
									srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-srcset="{{ collection_image | img_url: '480x' }} 360w, {{ collection_image | img_url: '600x' }} 480w, {{ collection_image | img_url: '1100x' }} 960w, {{ collection_image | img_url: '1600x' }} 1440w, {{ collection_image | img_url: '2100x' }} 1920w"
									data-sizes="auto"
									class="lazyload"
								/>

								<noscript><span class="ll-fallback" style="background-image:url({{ product.featured_image.src | img_url: '960x' }})"></span></noscript>

							</div>

							<div class="caption">
								<div>
									<h3><span class="overflowed">{{ collection_idx.title }}</span></h3>
									<span class="price"><span class="overflowed">
									</span></span>
									<span aria-hidden="true">{% include 'asset_svg' with 'arrow_icon_long_overflowed' %}</span>
								</div>
							</div>

						</a>

					{% endfor %}

				</div>

			</div>

		</div>

	{% when 'collections-grid' %}

		{% assign per_page = block.settings.featured_collection_no | times: 1 %}

		{% assign collection_1 = collections[block.settings.collection_1] %}
		{% assign collection_2 = collections[block.settings.collection_2] %}
		{% assign collection_3 = collections[block.settings.collection_3] %}
		{% assign collection_4 = collections[block.settings.collection_4] %}
		{% assign collection_5 = collections[block.settings.collection_5] %}
		{% assign collection_6 = collections[block.settings.collection_6] %}
		{% assign collection_7 = collections[block.settings.collection_7] %}
		{% assign collection_8 = collections[block.settings.collection_8] %}
		{% assign collection_9 = collections[block.settings.collection_9] %}
		{% assign collection_10 = collections[block.settings.collection_10] %}

		{% assign title_1 = block.settings.title_1 %}
		{% assign title_2 = block.settings.title_2 %}
		{% assign title_3 = block.settings.title_3 %}
		{% assign title_4 = block.settings.title_4 %}
		{% assign title_5 = block.settings.title_5 %}
		{% assign title_6 = block.settings.title_6 %}
		{% assign title_7 = block.settings.title_7 %}
		{% assign title_8 = block.settings.title_8 %}
		{% assign title_9 = block.settings.title_9 %}
		{% assign title_10 = block.settings.title_10 %}

		<div id="block-{{ block.id }}" class="site-box-container container--fullscreen per-{{ per_page }}">

			<div class="collection__holder odd">
				<div class="site-box box--small lap--box--small-lg box--typo-small box--center-align box--column-flow box__heading" data-order="0">
					<div class="site-box-content">
							<h2 class="title {{ block.settings.bg_style }}">
								{{ block.settings.title | escape }}
							</h2>
					</div>
				</div>

				{% assign per_page = per_page %}

				{% for i in (1..per_page) %}

					{% case forloop.index %}
						{% when 1 %}
							{% assign collection_idx = collection_1 %}
							{% assign title_idx = title_1 %}
						{% when 2 %}
							{% assign collection_idx = collection_2 %}
							{% assign title_idx = title_2 %}
						{% when 3 %}
							{% assign collection_idx = collection_3 %}
							{% assign title_idx = title_3 %}
						{% when 4 %}
							{% assign collection_idx = collection_4 %}
							{% assign title_idx = title_4 %}
						{% when 5 %}
							{% assign collection_idx = collection_5 %}
							{% assign title_idx = title_5 %}
						{% when 6 %}
							{% assign collection_idx = collection_6 %}
							{% assign title_idx = title_6 %}
						{% when 7 %}
							{% assign collection_idx = collection_7 %}
							{% assign title_idx = title_7 %}
						{% when 8 %}
							{% assign collection_idx = collection_8 %}
							{% assign title_idx = title_8 %}
						{% when 9 %}
							{% assign collection_idx = collection_9 %}
							{% assign title_idx = title_9 %}
						{% when 10 %}
							{% assign collection_idx = collection_10 %}
							{% assign title_idx = title_10 %}
					{% endcase %}

					<div class="site-box box--small box--typo-small lap--box--small-lg box--center-align box--no-padding box--column-flow box__collection" data-order="{{ forloop.index }}">
						<div class="site-box-content">

							{% if collection_idx.image %}
								{% assign collection_image = collection_idx.image %}
							{% elsif collection_idx.products.first != blank %}
								{% assign collection_image = collection_idx.products.first %}
							{% endif %}

							<a href="{{ collection_idx.url }}" class="product-item style--{{ settings.product_animation }} lap--box--small-lg">

								{% if landing_type == 'diamonds' and block.settings.title == 'Start With a Diamond Shape' %}

									<div class="box--product-image primary has-svg">

										{% assign icon_name = collection_idx.handle | prepend: 'diamond_shape_' %}

										<div class="svg-box">{% include 'asset_svg' with icon_name %}</div>

								{% else %}

									<div class="box--product-image primary">

										<img
											src="{{ collection_image | img_url: '960x' }}" alt="{{ collection_1.title | escape }}"
											srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
											data-srcset="{{ collection_image | img_url: '480x' }} 360w, {{ collection_image | img_url: '600x' }} 480w, {{ collection_image | img_url: '1100x' }} 960w, {{ collection_image | img_url: '1600x' }} 1440w, {{ collection_image | img_url: '2100x' }} 1920w"
											data-sizes="auto"
											class="lazyload"
										/>

										<noscript><span class="ll-fallback" style="background-image:url({{ product.featured_image.src | img_url: '960x' }})"></span></noscript>

									{% endif %}

								</div>

								<div class="caption">
									<div>
										<h3>
											{% if title_idx != blank %}
												<span class="overflowed">{{ title_idx }}</span>
											{% else %}
												<span class="overflowed">{{ collection_idx.title }}</span>
											{% endif %}
										</h3>
										<span class="price"><span class="overflowed">
										</span></span>
										<span aria-hidden="true">{% include 'asset_svg' with 'arrow_icon_long_overflowed' %}</span>
									</div>
								</div>

							</a>

						</div>
					</div>

				{% endfor %}

				<div class="site-box box--small box--typo-small lap--box--small-lg box--center-align box--center-align box--column-flow box__heading">
					<div class="site-box-content">
						<span class="title" style="font-weight: bold">
							{% unless block.settings.featured_link == blank %}
								<a href="{{ block.settings.featured_link }}"><span>{{ block.settings.cta }}</span></a>
							{% endunless %}
						</span>
					</div>
				</div>

		</div>

  </div>


	{% when 'product-grid-list' %}

		{% assign per_page = block.settings.featured_collection_no | times: 1 %}
		{% assign product_count = collections[block.settings.lp_collection_select].products_count | times: 1 %}

		<div id="block-{{ block.id }}" class="site-box-container container--fullscreen per-{{ per_page }}">

			<div class="collection__holder odd">
				<div class="site-box box--small lap--box--small-lg box--typo-small box--center-align box--column-flow box__heading" data-order="0">
					<div class="site-box-content">
							<h2 class="title {{ block.settings.bg_style }}">
								{{ block.settings.title | escape }}
							</h2>
					</div>
				</div>

				{% if product_count == 0 %}

					{% assign per_page = per_page | plus: 1 %}
					{% for i in (1..per_page) %}
						<div class="site-box box--small box--typo-small lap--box--small-lg box--center-align box--no-padding box--column-flow box__collection" data-order="{{ forloop.index }}">
							<div class="site-box-content">
								{% assign no = forloop.index | modulo:6 | plus:1 %}
								{% capture product_img %} {{ 'svg_product-X.svg' | replace: 'X', no | asset_url }} {% endcapture %}
								{% include 'collection_product-blank' with product_img %}
							</div>
						</div>
					{% endfor %}

				{% else %}

					{% for product in collections[block.settings.lp_collection_select].products limit:per_page %}
						<div class="site-box box--small box--typo-small lap--box--small-lg box--center-align box--no-padding box--column-flow box__collection" data-order="{{ forloop.index }}">
							<div class="site-box-content">
								{% include 'collection_product-content' %}
							</div>
						</div>
					{% endfor %}

					{% if product_count > per_page %}

						<div class="site-box box--small box--typo-small lap--box--small-lg box--center-align box--center-align box--column-flow box__heading">
							<div class="site-box-content">
								<a href="{{ collections[block.settings.lp_collection_link].url }}">
									<span class="title" style="font-weight: bold">
										<span>{{ 'collections.general.want_more' | t }}</span>
									</span>
								</a>
							</div>
						</div>

					{% endif %}

				{% endif %}

			</div>

		</div>

  {% endcase %}

{% endfor %}
