
{%- unless template == 'index' or template == 'cart' -%}
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="/" title="Home">Home</a>

      {%comment%} DETERMINE OBJECT TYPE - product, collection or page   {%endcomment%}

{%- if template contains 'product' -%}
  {%- capture product_url_string -%}{%- for collection in product.collections -%}{{collection.url }}|{%- endfor -%}{%- endcapture -%}
  {%- assign object_url_string = product_url_string | append: product.url -%}
{%- elsif template contains 'collection' and collection.handle -%}
  {%- capture object_url_string -%}/collections/{{ collection.handle }}{%- endcapture -%}
{%- elsif template contains 'page' -%}
  {%- capture object_url_string -%}/pages/{{ page.url }}{%- endcapture -%}
{% endif %}

{%- assign object_urls = object_url_string | split: '|' -%}

  {%comment%}
  GET TITLES OF ALL LINKLISTS
  Linklist is the Shopify term for a menu or submenu. We grab all the titles so we can match against them and
  find out if they are linked from a parent menu.
  {%endcomment%}
{%- capture linklist_titles_str -%}{%- for linklist in linklists -%}{{ linklist.title | handleize }}|{%- endfor -%}{%- endcapture -%}
{%- assign str_size = linklist_titles_str | size | minus: 1 -%}
{%- assign linklist_titles_str = linklist_titles_str | slice: 0, str_size -%}
{%- assign linklist_titles = linklist_titles_str | split: '|' -%}

  {%comment%}
  GET TOP LEVEL MENU THEN DRILL DOWN
  First we grab all the top-level menu items and we create a set of strings for each property, which
  we will eventually split into arrays. We cannot create multi-dimensional arrays in Liquid, but we
  can create parallel arrays so that if we know the index in the handle array, we can find it's title
  by iterating through the title array until we hit the same index.

  If the link handle matches a string in the linklist_titles, the list with that title is the child.
  You might think we would match handles to handles, but we don't. Shopify creates nested menus based
  on the parent item having the exact same label as the child item and converts that to a handle.
  {%endcomment%}

{%- assign level = 1 -%}
{%- for link in settings.selected_main_menu.links -%}
  {%- assign link_handle = link.title | handle -%}
  {%- assign link_titles = link_titles | append: link.title | append: '|' -%}
  {%- assign link_urls = link_urls | append: link.url | append: '|' -%}
  {%- assign link_levels = link_levels | append: level | append: '|'  -%}
  {%- assign link_parents = link_parents | append: 'smart-main-menu' | append: '|'  -%}
  {%- assign link_handles = link_handles | append: link_handle | append: '|' -%}

  {%- if linklist_titles contains link_handle -%}

      {%comment%} GET CHILDREN    {%endcomment%}

    {%- for clink in linklists[link_handle].links -%}
      {%- if forloop.first == true -%}
        {%- assign level = level | plus: 1 -%}
      {%- endif -%}
      {% assign clink_handle = clink.title | handle %}
      {%- assign link_titles = link_titles | append: clink.title | append: '|' -%}
      {%- assign link_urls = link_urls | append: clink.url | append: '|' -%}
      {%- assign link_levels = link_levels | append: level | append: '|'  -%}
      {%- assign link_parents = link_parents | append: link_handle | append: '|'  -%}
      {%- assign handle = link.title | handleize -%}
      {%- assign link_handles = link_handles | append: clink_handle | append: '|' -%}

      {%- if linklist_titles contains clink_handle -%}

              {%comment%} GET GRANDCHILDREN  {%endcomment%}

            {%- for gclink in linklists[clink_handle].links -%}
              {%- if forloop.first == true -%}
                {%- assign level = level | plus: 1 -%}
              {%- endif -%}
              {% assign gclink_handle = gclink.title | handle %}
              {%- assign link_titles = link_titles | append: gclink.title | append: '|' -%}
              {%- assign link_urls = link_urls | append: gclink.url | append: '|' -%}
              {%- assign link_levels = link_levels | append: level | append: '|'  -%}
              {%- assign link_parents = link_parents | append: clink_handle | append: '|'  -%}
              {%- assign link_handles = link_handles | append: gclink_handle | append: '|' -%}

              {%- if linklist_titles contains gclink_handle -%}
                  {% comment %} ************GET ME THE GGC {% endcomment %}
              {%- endif -%}
              {%- if forloop.last == true -%}
                {%- assign level = level | minus: 1 -%}
              {%- endif -%}
            {%- endfor -%}
                {%comment%} END GRANDCHILDREN  {%endcomment%}

      {%- endif -%}
      {%- if forloop.last == true -%}
        {%- assign level = level | minus: 1 -%}
      {%- endif -%}
    {%- endfor -%}
              {%comment%} END CHILDREN  {%endcomment%}
  {%- endif -%}
{%- endfor -%}

{%- comment -%} CONVERT TO ARRAYS {%- endcomment -%}
{%- assign str_size = link_levels | size | minus: 1 -%}
{%- assign llevels = link_levels | slice: 0, str_size | split: '|' -%}

{%- assign str_size = link_titles | size | minus: 1 -%}
{%- assign ltitles = link_titles | slice: 0, str_size | split: '|' -%}

{%- assign str_size = link_handles | size | minus: 1 -%}
{%- assign lhandles = link_handles | slice: 0, str_size | split: '|' -%}

{%- assign str_size = link_parents | size | minus: 1 -%}
{%- assign lparents = link_parents | slice: 0, str_size | split: '|' -%}

{%- assign str_size = link_urls | size | minus: 1 -%}
{%- assign lurls = link_urls | slice: 0, str_size | split: '|' -%}

{%- comment -%} GET THE DEEPEST LEVEL WE FOUND {%- endcomment -%}
{%- assign depth = '3' -%}
{%- assign bc3_parent_list_handle = '' %}

{%- comment -%} LEVEL 3: THREE DOWN FROM THE TOP {%- endcomment -%}
{%- comment -%} Do we have a link to this product or its collection on the deepest level? {%- endcomment -%}
{%- for url in lurls -%}
  {%- if object_urls contains url and llevels[forloop.index0] == depth -%}
    {%- unless url == product.url or url == collection.url -%}
      {%- capture bc3 -%}{{ ltitles[forloop.index0] | link_to: url, ltitles[forloop.index0] }}{%- endcapture -%}
    {%- endunless -%}
    {%- assign bc3_parent_list_handle = lparents[forloop.index0] -%}
    {%- assign bc3_list_handle = lhandles[forloop.index0] -%}
    {% break %}
  {%- endif -%}
{%- endfor -%}

{%- comment -%} LEVEL 2: TWO DOWN FROM THE TOP
  Next level. If we found something, we can save a lot of processing. Otherwise,
  we need to scan everything on this level
{%- endcomment -%}
{%- assign depth = '2' -%}
{%- assign bc2_parent_list_handle = '' %}

{%- comment -%} IF we didn't find anything on the deepest level, we start from scratch one level up {%- endcomment -%}
{%- if bc3_parent_list_handle == '' -%}
  {%- for url in lurls -%}
    {%- if llevels[forloop.index0] == depth -%}
      {%- if object_urls contains url -%}
        {%- unless url == product.url or url == collection.url -%}
          {%- capture bc2 -%}{{ ltitles[forloop.index0] | link_to: url, ltitles[forloop.index0] }}{%- endcapture -%}
        {% endunless %}
        {%- assign bc2_parent_list_handle = lparents[forloop.index0] -%}
        {%- break -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

{%- comment -%} ELSE we have a parent handle. We need its array index to find its other data {%- endcomment -%}
{%- else -%}
  {%- for list_handle in lhandles -%}
    {%- if list_handle == bc3_parent_list_handle -%}
      {% assign bc2_list_handle = list_handle %}
      {%- assign bc2_parent_list_handle = lparents[forloop.index0] -%}
      {%- assign bc2_list_title = ltitles[forloop.index0] -%}
      {%- comment -%} we have the handle of bc2's parent, so now we get the parent links, find where title matches parent title, then we have the collection URL {%- endcomment -%}
      {%- for bc2_sibling_link in linklists[bc2_parent_list_handle].links -%}
        {%- assign bc2_sibling_title_handleized = bc2_sibling_link.title | handle -%}
        {% if bc2_sibling_title_handleized == bc2_list_handle %}
          {%- capture bc2 -%}{{ bc2_sibling_link.title | link_to: bc2_sibling_link.url, bc2_sibling_link.title }}{%- endcapture -%}
          {% break %}
        {%- endif -%}
      {%- endfor -%}
      {% break %}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- comment -%} LEVEL 1: MAIN ITEMS BELOW MAIN MENU (I.E. TOP NAV BAR) {%- endcomment -%}

{%- assign depth = depth | minus: 1 | append: '' -%}
{%- assign bc1_parent_list_handle = '' %}

{%- if bc2_parent_list_handle == '' -%}
    {%- comment -%} IF found nothing on deepest level or middle level, we start from scratch on top level {%- endcomment -%}
  {% for url in lurls %}
    {%- if object_urls contains url and llevels[forloop.index0] == depth -%}
      {%- unless url == product.url or url == collection.url -%}
        {%- capture bc1 -%}{{ ltitles[forloop.index0] | link_to: url, ltitles[forloop.index0] }}{%- endcapture -%}
      {% endunless %}
      {%- assign bc1_parent_list_handle = lparents[forloop.index0] -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

    {%- comment -%}
        ELSE we have a parent handle. We need its array index to find its other data
    {%- endcomment -%}
{%- else -%}
  {%- for list_handle in lhandles -%}
    {%- if bc2_parent_list_handle == list_handle -%}
      {% assign bc1_list_handle = list_handle %}
      {%- assign bc1_parent_list_handle = lparents[forloop.index0] -%}
      {%- assign bc1_title = ltitles[forloop.index0] -%}
            {%- comment -%}
              We HAVE PARENT, so now we GET THE SIBLING links, find where title
              matches parent title, then we have the collection URL
            {%- endcomment -%}
      {%- for bc1_sibling_link in linklists[bc1_parent_list_handle].links -%}
        {%- assign bc1_sibling_title_handleized = bc1_sibling_link.title | handle -%}
        {% if bc1_sibling_title_handleized == bc1_list_handle %}
          {%- capture bc1 -%}{{ bc1_sibling_link.title | link_to: bc1_sibling_link.url, bc1_sibling_link.title }}{%- endcapture -%}
          {% break %}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

  {%- if bc1 -%}
    <span aria-hidden="true"> &nbsp; / &nbsp; </span>
    {{ bc1 }}
  {%- endif -%}
  {%- if bc2 -%}
    <span aria-hidden="true"> &nbsp; / &nbsp; </span>
    {{ bc2 }}
  {%- endif -%}
  {%- if bc3 -%}
    <span aria-hidden="true"> &nbsp; / &nbsp; </span>
    {{ bc3 }}
  {%- endif -%}
{%- if template contains 'product' -%}
  <span aria-hidden="true"> &nbsp; / &nbsp; </span>
  <span>{{ product.title }}</span>

{%- elsif template contains 'collection' and collection.handle -%}
    <span aria-hidden="true"> &nbsp; / &nbsp; </span>

    {%- if current_tags -%}
      {{ collection.title | link_to: collection.url }}
      <span aria-hidden="true"> &nbsp; / &nbsp; </span>

      {%- capture collection_title -%}
      {%- comment -%} Use this or similar for the title element:
          {%- if template == '404' -%}
          <title>Page Not Found | {{ shop.name }}</title>

          {%- elsif template contains 'collection' and current_tags -%}
          <title>{%- include 'collection-title' -%} | {{ shop.name }}</title>
          {%- else -%}

          <title>{{ page_title }} | {{ shop.name }}</title>
          {%- endif -%}
      {%- endcomment -%}
      {%- assign default_product_title = 'All' -%}
      {%- assign filter_handles_ordered = '' -%}
      {%- for menu_header in shop.metafields.pt_filter_menu reversed -%}
          {%- capture filter_handles_ordered -%}{{filter_handles_ordered }}|{{ menu_header.first }}|{%- endcapture -%}
      {%- endfor -%}
      {%- comment -%} By default the order is the reverse order of your filter menu filters, as this how most titles read the best - most specific to least specific. You can remove the above for-loop and define your own order using the 'filter_handles_ordered' variable. Print it out below to see the current values. It is delimited by double pipes || with leading and trailing single pipes {%- endcomment -%}
      {%- comment -%}{{ filter_handles_ordered }}{%- endcomment -%}
      {%- assign primary_sort_collection = collection -%}
      {%- if collection.metafields.sort_primary.collection_handle -%}
        {%- assign primary_sort_collection = collections[collection.metafields.sort_primary.collection_handle] -%}
      {%- endif -%}
      {%- assign filter_header = nil -%}
      {%- assign seen_tags = nil -%}
      {%- assign non_filter_collection = true -%}
      {%- assign ordered_header_list = filter_handles_ordered | split: '||' -%}
      {%- for ordered_header in ordered_header_list -%}
        {%- assign ordered_header_handle = ordered_header | remove: '|' -%}
        {%- for menu_header in shop.metafields.pt_filter_menu -%}
          {%- assign current_selected = '|' -%}
          {%- assign menu_items = menu_header.last | split: ',' -%}
          {%- for menu_item in menu_items -%}
            {%- if current_tags contains menu_item or collection.handle == menu_item -%}
            {%- assign seen_tags = seen_tags | append: '##' | append: menu_item -%}
                {%- if collection.handle == menu_item -%}
                    {%- assign non_filter_collection = false -%}
                {%- endif -%}
                {%- if filter_handles_ordered contains menu_header.first -%}
                    {%- if ordered_header_handle == menu_header.first -%}
                      {%- assign filter_collection = collections[menu_item] -%}
                      {% capture filter_header %} {{ filter_collection.title }}{% endcapture %}
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endfor -%}
      {%- endfor -%}
      {%- for tag in current_tags -%}
      {%- assign tag_comma = '##' | append: tag -%}
      {%- unless seen_tags contains tag_comma -%}
      {%- assign filter_collection = collections[tag] -%}
      {%- if filter_collection -%}
      {% capture filter_header %}{{ filter_collection.title }}{% endcapture %}
      {%- else -%}
      {% capture filter_header %}{{ tag | replace: '-', ' ' | capitalize }}{% endcapture %}
      {%- endif -%}
      {%- endunless -%}
      {%- endfor -%}
      {% capture header_formatted %}{{ filter_header }}{% if non_filter_collection and primary_sort_collection.handle != 'all' %} {% endif %}{% endcapture %}
      {%- if header_formatted == '' -%}{{ default_product_title }}{%- else -%}{{ header_formatted }}{%- endif -%}
      {%- endcapture -%}

      <span>{{ header_formatted }}</span>

    {%- else -%}
    <span>{{ collection.title }}</span>
    {%- endif -%}

{%- elsif template == 'blog' -%}

  <span aria-hidden="true"> &nbsp; / &nbsp; </span>
  {%- if current_tags -%}
    {{ blog.title | link_to: blog.url }}
    <span aria-hidden="true"> &nbsp; / &nbsp; </span>
    <span>{{ current_tags | join: " + " }}</span>
  {%- else -%}
  <span>{{ blog.title }}</span>
  {%- endif -%}

{%- elsif template == 'article' -%}

  <span aria-hidden="true"> &nbsp; / &nbsp; </span>
  {{ blog.title | link_to: blog.url }}
  <span aria-hidden="true"> &nbsp; / &nbsp; </span>
  <span>{{ article.title }}</span>

{%- elsif template == 'page.landing' -%}

  {%
    if section.id == 'landing_banner_shop_engagement_style'
    or section.id == 'landing_banner_featured_engagement_collections'
    or section.id == 'landing_banner_diamond_shape'
    or section.id == 'landing_banner_diamond_color'
  %}

    <span aria-hidden="true"> &nbsp; / &nbsp; </span>
    <a href="https://www.newworlddiamonds.com/pages/engagement-rings">Engagement Rings</a>
  {% endif %}

 <span aria-hidden="true"> &nbsp; / &nbsp; </span>
 <span>{{ page.title }}</span>

{%- elsif template == 'page' -%}

 <span aria-hidden="true"> &nbsp; / &nbsp; </span>
 <span>{{ page.title }}</span>

{%- else -%}

 <span aria-hidden="true"> &nbsp; / &nbsp; </span>
 <span>{{ page_title }}</span>

{% endif %}
</nav>
{%- endunless -%}
