<div class="hero is-status">
  <div class="hero-body has-text-centered">
    <div class="page-load-status">
      <div class="infinite-scroll-request">
        <p class="hyp-semibold is-size-6 is-uppercase has-text-primary">Loading...</p>
        <div class="loader-ellips">
          <span class="loader-ellips__dot"></span>
          <span class="loader-ellips__dot"></span>
          <span class="loader-ellips__dot"></span>
          <span class="loader-ellips__dot"></span>
        </div>
      </div>
      <div class="infinite-scroll-last">
        <p class="hyp-semibold is-size-6 has-text-black">Can't find what your looking for? Give us a call at 877-653-2250 and we will make it happen for you!</p>
      </div>
    </div>
  </div>
</div>
