{% if product.type != 'Diamonds' %}
  {% for tag in product.tags %}
    {% if tag contains 'semi-mount' %}
      {% assign is_semimount = true %}
      {% assign builder_title = 'Choose Your Diamond' %}
      {% assign builder_collection = 'all-lab-grown-diamonds' %}
      {% break %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign is_diamond = true %}
  {% assign builder_title = 'Choose Your Ring' %}
  {% assign builder_collection = 'build-your-own' %}
{% endif %}

<div id="site-filters" class="site-nav-container" tabindex="-1">

  <div class="site-nav-container-last">

    <p class="title">{{ builder_title }}</p>

    <div class="top">

			<div class="preloader" aria-hidden="true"><span>.</span><span>.</span><span>.</span>
				<p>{{ 'general.search.loading' | t }}</p>
			</div>

      <div id="builder-results" class="search-results">

        {% if is_semimount != blank %}

          {% paginate collections.all-lab-grown-diamonds.products by 50 %}

            {% for product in collections.all-lab-grown-diamonds.products %}

            <div class="site-box diamond-box box__collection" data-order="{{ forloop.index }}">
              <div class="site-box-content">
                {% include 'diamond_builder-content' %}
              </div>
            </div>

            {% endfor %}

          {% endpaginate %}
        {% elsif is_diamond != blank %}



        {% endif %}

      </div>

    </div>

    <div class="to-bottom-content">

      shop all Diamonds
      
    </div>

  </div>

</div>
