<?xml version="1.0" encoding="UTF-8"?>
<svg width="298px" height="356px" viewBox="0 0 298 356" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title>ratedexcellent-badge-3</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path d="M165.393521,10.3112985 L282.022341,82.0450302 C291.489915,87.8681571 297.25764,98.1870196 297.25764,109.302044 L297.25764,256.360574 C297.25764,267.475598 291.489915,277.794461 282.022341,283.617587 L165.393521,355.351319 C155.111628,361.675301 142.146011,361.675301 131.864119,355.351319 L15.2352989,283.617587 C5.76772478,277.794461 5.66325842e-14,267.475598 3.55271368e-14,256.360574 L1.42108547e-14,109.302044 C7.91359444e-15,98.1870196 5.76772478,87.8681571 15.2352989,82.0450302 L131.864119,10.3112985 C142.146011,3.98731676 155.111628,3.98731676 165.393521,10.3112985 Z" id="path-1"></path>
    </defs>
    <g id="ratedexcellent-badge-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Rectangle-2" transform="translate(0.000000, -5.000000)">
            <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            <use id="Mask" fill="#FFAD99" fill-rule="nonzero" xlink:href="#path-1"></use>
            <rect fill="#000032" fill-rule="nonzero" mask="url(#mask-2)" x="-10" y="228" width="307" height="156"></rect>
        </g>
        <path d="M88.2845,111.059 L97.0565,111.059 C98.8925092,111.059 100.269495,110.651004 101.1875,109.835 C102.105505,109.018996 102.5645,107.693009 102.5645,105.857 C102.5645,104.088991 102.105505,102.805504 101.1875,102.0065 C100.269495,101.207496 98.8925092,100.808 97.0565,100.808 L88.2845,100.808 L88.2845,111.059 Z M80.2775,94.586 L99.9125,94.586 C101.544508,94.586 103.014993,94.8494974 104.324,95.3765 C105.633007,95.9035026 106.754995,96.6259954 107.69,97.544 C108.625005,98.4620046 109.338998,99.524494 109.832,100.7315 C110.325002,101.938506 110.5715,103.238993 110.5715,104.633 C110.5715,106.775011 110.121005,108.627992 109.22,110.192 C108.318995,111.756008 106.84851,112.945996 104.8085,113.762 L104.8085,113.864 C105.794505,114.136001 106.610497,114.552497 107.2565,115.1135 C107.902503,115.674503 108.429498,116.337496 108.8375,117.1025 C109.245502,117.867504 109.542999,118.708995 109.73,119.627 C109.917001,120.545005 110.0445,121.462995 110.1125,122.381 C110.1465,122.959003 110.1805,123.638996 110.2145,124.421 C110.2485,125.203004 110.308,126.001996 110.393,126.818 C110.478,127.634004 110.613999,128.407496 110.801,129.1385 C110.988001,129.869504 111.268498,130.489997 111.6425,131 L103.6355,131 C103.193498,129.843994 102.921501,128.467008 102.8195,126.869 C102.717499,125.270992 102.564501,123.741007 102.3605,122.279 C102.088499,120.37499 101.510504,118.981004 100.6265,118.097 C99.7424956,117.212996 98.29751,116.771 96.2915,116.771 L88.2845,116.771 L88.2845,131 L80.2775,131 L80.2775,94.586 Z M116.0285,112.742 C116.130501,111.041991 116.555496,109.631006 117.3035,108.509 C118.051504,107.386994 119.003494,106.486003 120.1595,105.806 C121.315506,105.125997 122.615993,104.641501 124.061,104.3525 C125.506007,104.063499 126.959493,103.919 128.4215,103.919 C129.747507,103.919 131.090493,104.012499 132.4505,104.1995 C133.810507,104.386501 135.051494,104.751997 136.1735,105.296 C137.295506,105.840003 138.213496,106.596495 138.9275,107.5655 C139.641504,108.534505 139.9985,109.817992 139.9985,111.416 L139.9985,125.135 C139.9985,126.325006 140.066499,127.463995 140.2025,128.552 C140.338501,129.640005 140.576498,130.455997 140.9165,131 L133.5725,131 C133.436499,130.591998 133.326,130.175502 133.241,129.7505 C133.156,129.325498 133.0965,128.892002 133.0625,128.45 C131.906494,129.640006 130.546508,130.472998 128.9825,130.949 C127.418492,131.425002 125.820508,131.663 124.1885,131.663 C122.930494,131.663 121.757505,131.510002 120.6695,131.204 C119.581495,130.897998 118.629504,130.422003 117.8135,129.776 C116.997496,129.129997 116.360002,128.314005 115.901,127.328 C115.441998,126.341995 115.2125,125.169007 115.2125,123.809 C115.2125,122.312993 115.475997,121.080505 116.003,120.1115 C116.530003,119.142495 117.209996,118.369003 118.043,117.791 C118.876004,117.212997 119.827995,116.779501 120.899,116.4905 C121.970005,116.201499 123.049495,115.972001 124.1375,115.802 C125.225505,115.631999 126.296495,115.496001 127.3505,115.394 C128.404505,115.291999 129.339496,115.139001 130.1555,114.935 C130.971504,114.730999 131.617498,114.433502 132.0935,114.0425 C132.569502,113.651498 132.7905,113.082004 132.7565,112.334 C132.7565,111.551996 132.629001,110.931502 132.374,110.4725 C132.118999,110.013498 131.779002,109.656501 131.354,109.4015 C130.928998,109.146499 130.436003,108.9765 129.875,108.8915 C129.313997,108.8065 128.710503,108.764 128.0645,108.764 C126.636493,108.764 125.514504,109.069997 124.6985,109.682 C123.882496,110.294003 123.406501,111.313993 123.2705,112.742 L116.0285,112.742 Z M132.7565,118.097 C132.450498,118.369001 132.068002,118.581499 131.609,118.7345 C131.149998,118.887501 130.657003,119.014999 130.13,119.117 C129.602997,119.219001 129.050503,119.304 128.4725,119.372 C127.894497,119.44 127.316503,119.524999 126.7385,119.627 C126.194497,119.729001 125.659003,119.864999 125.132,120.035 C124.604997,120.205001 124.146002,120.434499 123.755,120.7235 C123.363998,121.012501 123.049501,121.377998 122.8115,121.82 C122.573499,122.262002 122.4545,122.822997 122.4545,123.503 C122.4545,124.149003 122.573499,124.692998 122.8115,125.135 C123.049501,125.577002 123.372498,125.925499 123.7805,126.1805 C124.188502,126.435501 124.664497,126.613999 125.2085,126.716 C125.752503,126.818001 126.313497,126.869 126.8915,126.869 C128.319507,126.869 129.424496,126.631002 130.2065,126.155 C130.988504,125.678998 131.566498,125.109503 131.9405,124.4465 C132.314502,123.783497 132.544,123.112003 132.629,122.432 C132.714,121.751997 132.7565,121.208002 132.7565,120.8 L132.7565,118.097 Z M154.7885,104.633 L160.0925,104.633 L160.0925,109.478 L154.7885,109.478 L154.7885,122.534 C154.7885,123.758006 154.992498,124.573998 155.4005,124.982 C155.808502,125.390002 156.624494,125.594 157.8485,125.594 C158.256502,125.594 158.647498,125.577 159.0215,125.543 C159.395502,125.509 159.752498,125.458 160.0925,125.39 L160.0925,131 C159.480497,131.102001 158.800504,131.17 158.0525,131.204 C157.304496,131.238 156.573504,131.255 155.8595,131.255 C154.737494,131.255 153.675005,131.178501 152.672,131.0255 C151.668995,130.872499 150.785004,130.575002 150.02,130.133 C149.254996,129.690998 148.651502,129.062004 148.2095,128.246 C147.767498,127.429996 147.5465,126.359007 147.5465,125.033 L147.5465,109.478 L143.1605,109.478 L143.1605,104.633 L147.5465,104.633 L147.5465,96.728 L154.7885,96.728 L154.7885,104.633 Z M181.3085,114.986 C180.968498,113.149991 180.365004,111.756005 179.498,110.804 C178.630996,109.851995 177.313509,109.376 175.5455,109.376 C174.389494,109.376 173.429004,109.571498 172.664,109.9625 C171.898996,110.353502 171.287002,110.837997 170.828,111.416 C170.368998,111.994003 170.046001,112.605997 169.859,113.252 C169.671999,113.898003 169.5615,114.475997 169.5275,114.986 L181.3085,114.986 Z M169.5275,119.576 C169.629501,121.922012 170.224495,123.621995 171.3125,124.676 C172.400505,125.730005 173.96449,126.257 176.0045,126.257 C177.466507,126.257 178.724495,125.891504 179.7785,125.1605 C180.832505,124.429496 181.478499,123.656004 181.7165,122.84 L188.0915,122.84 C187.071495,126.002016 185.507511,128.262993 183.3995,129.623 C181.291489,130.983007 178.741515,131.663 175.7495,131.663 C173.67549,131.663 171.805508,131.331503 170.1395,130.6685 C168.473492,130.005497 167.062506,129.062006 165.9065,127.838 C164.750494,126.613994 163.858003,125.152008 163.229,123.452 C162.599997,121.751992 162.2855,119.88201 162.2855,117.842 C162.2855,115.86999 162.608497,114.034008 163.2545,112.334 C163.900503,110.633991 164.818494,109.163506 166.0085,107.9225 C167.198506,106.681494 168.617992,105.704004 170.267,104.99 C171.916008,104.275996 173.74349,103.919 175.7495,103.919 C177.993511,103.919 179.948492,104.352496 181.6145,105.2195 C183.280508,106.086504 184.648995,107.250993 185.72,108.713 C186.791005,110.175007 187.564498,111.840991 188.0405,113.711 C188.516502,115.581009 188.686501,117.53599 188.5505,119.576 L169.5275,119.576 Z M211.5515,117.74 C211.5515,116.651995 211.449501,115.606505 211.2455,114.6035 C211.041499,113.600495 210.693002,112.716504 210.2,111.9515 C209.706998,111.186496 209.069504,110.566002 208.2875,110.09 C207.505496,109.613998 206.519506,109.376 205.3295,109.376 C204.139494,109.376 203.136504,109.613998 202.3205,110.09 C201.504496,110.566002 200.850002,111.194996 200.357,111.977 C199.863998,112.759004 199.507001,113.651495 199.286,114.6545 C199.064999,115.657505 198.9545,116.702995 198.9545,117.791 C198.9545,118.811005 199.073499,119.830995 199.3115,120.851 C199.549501,121.871005 199.931997,122.780496 200.459,123.5795 C200.986003,124.378504 201.648996,125.024498 202.448,125.5175 C203.247004,126.010502 204.207494,126.257 205.3295,126.257 C206.519506,126.257 207.513996,126.019002 208.313,125.543 C209.112004,125.066998 209.749498,124.429504 210.2255,123.6305 C210.701502,122.831496 211.041499,121.922005 211.2455,120.902 C211.449501,119.881995 211.5515,118.828005 211.5515,117.74 Z M211.6535,127.634 L211.5515,127.634 C210.701496,129.062007 209.588007,130.090497 208.211,130.7195 C206.833993,131.348503 205.278509,131.663 203.5445,131.663 C201.57249,131.663 199.838507,131.280504 198.3425,130.5155 C196.846493,129.750496 195.614005,128.713507 194.645,127.4045 C193.675995,126.095493 192.945002,124.591009 192.452,122.891 C191.958998,121.190991 191.7125,119.423009 191.7125,117.587 C191.7125,115.818991 191.958998,114.110508 192.452,112.4615 C192.945002,110.812492 193.675995,109.359006 194.645,108.101 C195.614005,106.842994 196.829493,105.831504 198.2915,105.0665 C199.753507,104.301496 201.45349,103.919 203.3915,103.919 C204.955508,103.919 206.442993,104.250497 207.854,104.9135 C209.265007,105.576503 210.378496,106.553994 211.1945,107.846 L211.2965,107.846 L211.2965,94.586 L218.5385,94.586 L218.5385,131 L211.6535,131 L211.6535,127.634 Z M41.135,145.586 L68.369,145.586 L68.369,152.318 L49.142,152.318 L49.142,160.121 L66.788,160.121 L66.788,166.343 L49.142,166.343 L49.142,175.268 L68.777,175.268 L68.777,182 L41.135,182 L41.135,145.586 Z M80.15,168.128 L71.48,155.633 L79.742,155.633 L84.383,162.518 L88.973,155.633 L96.98,155.633 L88.31,167.975 L98.051,182 L89.789,182 L84.281,173.687 L78.773,182 L70.664,182 L80.15,168.128 Z M118.757,164.915 C118.280998,161.888985 116.496015,160.376 113.402,160.376 C112.245994,160.376 111.277004,160.639497 110.495,161.1665 C109.712996,161.693503 109.075502,162.373496 108.5825,163.2065 C108.089498,164.039504 107.741001,164.957495 107.537,165.9605 C107.332999,166.963505 107.231,167.957995 107.231,168.944 C107.231,169.896005 107.332999,170.864995 107.537,171.851 C107.741001,172.837005 108.072498,173.729496 108.5315,174.5285 C108.990502,175.327504 109.610996,175.981997 110.393,176.492 C111.175004,177.002003 112.126994,177.257 113.249,177.257 C114.983009,177.257 116.317495,176.772505 117.2525,175.8035 C118.187505,174.834495 118.773999,173.534008 119.012,171.902 L125.999,171.902 C125.522998,175.404018 124.163011,178.072991 121.919,179.909 C119.674989,181.745009 116.802018,182.663 113.3,182.663 C111.32799,182.663 109.517508,182.331503 107.8685,181.6685 C106.219492,181.005497 104.817006,180.079006 103.661,178.889 C102.504994,177.698994 101.604003,176.279508 100.958,174.6305 C100.311997,172.981492 99.989,171.17101 99.989,169.199 C99.989,167.15899 100.286497,165.263509 100.8815,163.5125 C101.476503,161.761491 102.351994,160.248506 103.508,158.9735 C104.664006,157.698494 106.074992,156.704004 107.741,155.99 C109.407008,155.275996 111.310989,154.919 113.453,154.919 C115.017008,154.919 116.521493,155.122998 117.9665,155.531 C119.411507,155.939002 120.703494,156.559496 121.8425,157.3925 C122.981506,158.225504 123.907996,159.262494 124.622,160.5035 C125.336004,161.744506 125.743999,163.214991 125.846,164.915 L118.757,164.915 Z M147.827,165.986 C147.486998,164.149991 146.883504,162.756005 146.0165,161.804 C145.149496,160.851995 143.832009,160.376 142.064,160.376 C140.907994,160.376 139.947504,160.571498 139.1825,160.9625 C138.417496,161.353502 137.805502,161.837997 137.3465,162.416 C136.887498,162.994003 136.564501,163.605997 136.3775,164.252 C136.190499,164.898003 136.08,165.475997 136.046,165.986 L147.827,165.986 Z M136.046,170.576 C136.148001,172.922012 136.742995,174.621995 137.831,175.676 C138.919005,176.730005 140.48299,177.257 142.523,177.257 C143.985007,177.257 145.242995,176.891504 146.297,176.1605 C147.351005,175.429496 147.996999,174.656004 148.235,173.84 L154.61,173.84 C153.589995,177.002016 152.026011,179.262993 149.918,180.623 C147.809989,181.983007 145.260015,182.663 142.268,182.663 C140.19399,182.663 138.324008,182.331503 136.658,181.6685 C134.991992,181.005497 133.581006,180.062006 132.425,178.838 C131.268994,177.613994 130.376503,176.152008 129.7475,174.452 C129.118497,172.751992 128.804,170.88201 128.804,168.842 C128.804,166.86999 129.126997,165.034008 129.773,163.334 C130.419003,161.633992 131.336994,160.163506 132.527,158.9225 C133.717006,157.681494 135.136492,156.704004 136.7855,155.99 C138.434508,155.275996 140.26199,154.919 142.268,154.919 C144.512011,154.919 146.466992,155.352496 148.133,156.2195 C149.799008,157.086504 151.167495,158.250993 152.2385,159.713 C153.309505,161.175007 154.082998,162.840991 154.559,164.711 C155.035002,166.581009 155.205001,168.53599 155.069,170.576 L136.046,170.576 Z M159.557,145.586 L166.799,145.586 L166.799,182 L159.557,182 L159.557,145.586 Z M172.715,145.586 L179.957,145.586 L179.957,182 L172.715,182 L172.715,145.586 Z M203.417,165.986 C203.076998,164.149991 202.473504,162.756005 201.6065,161.804 C200.739496,160.851995 199.422009,160.376 197.654,160.376 C196.497994,160.376 195.537504,160.571498 194.7725,160.9625 C194.007496,161.353502 193.395502,161.837997 192.9365,162.416 C192.477498,162.994003 192.154501,163.605997 191.9675,164.252 C191.780499,164.898003 191.67,165.475997 191.636,165.986 L203.417,165.986 Z M191.636,170.576 C191.738001,172.922012 192.332995,174.621995 193.421,175.676 C194.509005,176.730005 196.07299,177.257 198.113,177.257 C199.575007,177.257 200.832995,176.891504 201.887,176.1605 C202.941005,175.429496 203.586999,174.656004 203.825,173.84 L210.2,173.84 C209.179995,177.002016 207.616011,179.262993 205.508,180.623 C203.399989,181.983007 200.850015,182.663 197.858,182.663 C195.78399,182.663 193.914008,182.331503 192.248,181.6685 C190.581992,181.005497 189.171006,180.062006 188.015,178.838 C186.858994,177.613994 185.966503,176.152008 185.3375,174.452 C184.708497,172.751992 184.394,170.88201 184.394,168.842 C184.394,166.86999 184.716997,165.034008 185.363,163.334 C186.009003,161.633992 186.926994,160.163506 188.117,158.9225 C189.307006,157.681494 190.726492,156.704004 192.3755,155.99 C194.024508,155.275996 195.85199,154.919 197.858,154.919 C200.102011,154.919 202.056992,155.352496 203.723,156.2195 C205.389008,157.086504 206.757495,158.250993 207.8285,159.713 C208.899505,161.175007 209.672998,162.840991 210.149,164.711 C210.625002,166.581009 210.795001,168.53599 210.659,170.576 L191.636,170.576 Z M214.943,155.633 L221.828,155.633 L221.828,159.305 L221.981,159.305 C222.899005,157.774992 224.088993,156.661503 225.551,155.9645 C227.013007,155.267497 228.508992,154.919 230.039,154.919 C231.97701,154.919 233.566494,155.182497 234.8075,155.7095 C236.048506,156.236503 237.025996,156.967495 237.74,157.9025 C238.454004,158.837505 238.955499,159.976493 239.2445,161.3195 C239.533501,162.662507 239.678,164.149992 239.678,165.782 L239.678,182 L232.436,182 L232.436,167.108 C232.436,164.931989 232.096003,163.308505 231.416,162.2375 C230.735997,161.166495 229.529009,160.631 227.795,160.631 C225.82299,160.631 224.395004,161.217494 223.511,162.3905 C222.626996,163.563506 222.185,165.492987 222.185,168.179 L222.185,182 L214.943,182 L214.943,155.633 Z M254.366,155.633 L259.67,155.633 L259.67,160.478 L254.366,160.478 L254.366,173.534 C254.366,174.758006 254.569998,175.573998 254.978,175.982 C255.386002,176.390002 256.201994,176.594 257.426,176.594 C257.834002,176.594 258.224998,176.577 258.599,176.543 C258.973002,176.509 259.329998,176.458 259.67,176.39 L259.67,182 C259.057997,182.102001 258.378004,182.17 257.63,182.204 C256.881996,182.238 256.151004,182.255 255.437,182.255 C254.314994,182.255 253.252505,182.178501 252.2495,182.0255 C251.246495,181.872499 250.362504,181.575002 249.5975,181.133 C248.832496,180.690998 248.229002,180.062004 247.787,179.246 C247.344998,178.429996 247.124,177.359007 247.124,176.033 L247.124,160.478 L242.738,160.478 L242.738,155.633 L247.124,155.633 L247.124,147.728 L254.366,147.728 L254.366,155.633 Z" id="Rated-Excellent" fill="#000032"></path>
        <g id="logo-white" transform="translate(62.000000, 245.000000)">
            <g id="Trustpilot_brandmark_gr-wht_RGB">
                <g id="Type" transform="translate(45.833628, 15.660761)" fill="#FFFFFF" fill-rule="nonzero">
                    <path d="M0.108025387,0.0958822132 L17.8087566,0.0958822132 L17.8087566,3.51568115 L10.8488353,3.51568115 L10.8488353,22.7400649 L7.02165015,22.7400649 L7.02165015,3.51568115 L0.0925931888,3.51568115 L0.0925931888,0.0958822132 L0.108025387,0.0958822132 Z M17.0525789,6.34420644 L20.3242049,6.34420644 L20.3242049,9.50831948 L20.3859337,9.50831948 C20.4939591,9.06086915 20.6945777,8.62939919 20.9877895,8.2139096 C21.2810012,7.79842001 21.6359418,7.39891079 22.0526111,7.06332304 C22.4692805,6.71175493 22.9322464,6.44008866 23.441509,6.21636349 C23.9507715,6.0086187 24.4754662,5.89675611 25.000161,5.89675611 C25.4013981,5.89675611 25.6946099,5.91273648 25.8489319,5.92871685 C26.0032538,5.94469722 26.1575758,5.97665796 26.32733,5.99263833 L26.32733,9.47635874 C26.0804148,9.42841763 25.8334997,9.3964569 25.5711523,9.36449616 C25.3088049,9.33253542 25.0618898,9.31655505 24.8149746,9.31655505 C24.2285511,9.31655505 23.6729919,9.444398 23.1482972,9.68410354 C22.6236025,9.92380907 22.1760687,10.2913576 21.7902638,10.7547883 C21.4044588,11.2341993 21.0958148,11.8094926 20.8643319,12.5126288 C20.6328489,13.2157651 20.5248235,14.0147835 20.5248235,14.9256645 L20.5248235,22.7240845 L17.0371467,22.7240845 L17.0371467,6.34420644 L17.0525789,6.34420644 Z M42.3613839,22.7400649 L38.9354359,22.7400649 L38.9354359,20.4548722 L38.8737071,20.4548722 C38.4416055,21.2858513 37.8088854,21.9410465 36.9601145,22.4364379 C36.1113436,22.9318293 35.2471405,23.1875152 34.3675052,23.1875152 C32.2841585,23.1875152 30.7718031,22.6601631 29.8458712,21.5894783 C28.9199393,20.5187936 28.4569733,18.9047764 28.4569733,16.7474266 L28.4569733,6.34420644 L31.9446501,6.34420644 L31.9446501,16.3958585 C31.9446501,17.8340917 32.2069975,18.8568353 32.7471244,19.4481089 C33.2718192,20.0393826 34.0279969,20.3430096 34.9847932,20.3430096 C35.7255387,20.3430096 36.3273944,20.231147 36.8212247,19.9914415 C37.3150551,19.7517359 37.7162922,19.4481089 38.009504,19.0485997 C38.318148,18.6650708 38.5341987,18.1856598 38.6730885,17.6423272 C38.8119783,17.0989947 38.8737071,16.507721 38.8737071,15.8685063 L38.8737071,6.36018681 L42.3613839,6.36018681 L42.3613839,22.7400649 Z M48.3027801,17.4825235 C48.4108055,18.5372279 48.7966105,19.2723249 49.460195,19.7037948 C50.1392117,20.1192844 50.941686,20.3430096 51.8830501,20.3430096 C52.2071263,20.3430096 52.577499,20.3110488 52.9941684,20.2631077 C53.4108377,20.2151666 53.8120749,20.103304 54.1670154,19.9594807 C54.5373882,19.8156574 54.8305999,19.5919322 55.0775151,19.3042856 C55.3089981,19.016639 55.4170235,18.6490905 55.4015913,18.1856598 C55.3861591,17.7222291 55.2164049,17.3387002 54.9077609,17.0510536 C54.599117,16.7474266 54.213312,16.5237014 53.7349139,16.331937 C53.2565157,16.1561529 52.7163888,15.9963492 52.0991009,15.8685063 C51.481813,15.7406633 50.864525,15.59684 50.2318049,15.4530167 C49.5836526,15.3091934 48.9509325,15.117429 48.3490767,14.9096842 C47.747221,14.7019394 47.2070941,14.4142927 46.7286959,14.0467442 C46.2502978,13.6951761 45.8644928,13.2317454 45.5867133,12.6724325 C45.2935015,12.1131196 45.1546117,11.4259637 45.1546117,10.5949846 C45.1546117,9.70008391 45.3706625,8.96498694 45.7873318,8.35773292 C46.2040012,7.7504789 46.7441281,7.27106784 47.3768483,6.90351935 C48.0250006,6.53597087 48.7348817,6.28028497 49.5219238,6.12048128 C50.3089659,5.97665796 51.0651436,5.89675611 51.7750247,5.89675611 C52.5929312,5.89675611 53.3799733,5.99263833 54.1207188,6.16842238 C54.8614643,6.34420644 55.5404811,6.63185308 56.1423368,7.04734267 C56.7441925,7.44685189 57.2380229,7.97420407 57.63926,8.61341882 C58.0404972,9.25263358 58.2874123,10.0356717 58.3954377,10.9465527 L54.753439,10.9465527 C54.5836848,10.0836128 54.213312,9.49233911 53.6114563,9.20469247 C53.0096006,8.90106546 52.3151517,8.75724214 51.5435417,8.75724214 C51.2966266,8.75724214 51.0034148,8.77322251 50.6639065,8.82116362 C50.3243981,8.86910472 50.0157541,8.94900657 49.7071102,9.06086915 C49.4138984,9.17273173 49.1669832,9.34851579 48.9509325,9.57224095 C48.7503139,9.79596612 48.6422885,10.0836128 48.6422885,10.4511612 C48.6422885,10.8986116 48.7966105,11.2501797 49.0898222,11.521846 C49.383034,11.7935122 49.768839,12.0172374 50.2472371,12.2090018 C50.7256352,12.3847859 51.2657622,12.5445896 51.8830501,12.6724325 C52.500338,12.8002755 53.1330582,12.9440988 53.7812105,13.0879221 C54.4139306,13.2317454 55.0312185,13.4235099 55.6485064,13.6312546 C56.2657944,13.8389994 56.8059213,14.1266461 57.2843194,14.4941946 C57.7627176,14.8617431 58.1485225,15.3091934 58.4417343,15.8525259 C58.7349461,16.3958585 58.8892681,17.0830143 58.8892681,17.8820328 C58.8892681,18.8568353 58.6732173,19.6718341 58.2411157,20.3589899 C57.8090142,21.0301654 57.2534551,21.5894783 56.5744383,22.0049679 C55.8954216,22.4204575 55.1238117,22.7400649 54.290473,22.9318293 C53.4571343,23.1235938 52.6237956,23.219476 51.8058891,23.219476 C50.8027962,23.219476 49.8768643,23.1076134 49.0280935,22.8679079 C48.1793226,22.6282023 47.438577,22.2766342 46.8212891,21.8132035 C46.2040012,21.3337924 45.7101709,20.7425188 45.3552303,20.0393826 C45.0002897,19.3362463 44.8151034,18.4892868 44.784239,17.5144843 L48.3027801,17.5144843 L48.3027801,17.4825235 Z M59.8151999,6.34420644 L62.4541058,6.34420644 L62.4541058,1.42225283 L65.9417826,1.42225283 L65.9417826,6.34420644 L69.089951,6.34420644 L69.089951,9.04488878 L65.9417826,9.04488878 L65.9417826,17.8021309 C65.9417826,18.1856598 65.9572148,18.5052672 65.9880792,18.7929138 C66.0189436,19.0645801 66.0961046,19.3042856 66.20413,19.49605 C66.3121554,19.6878145 66.4819095,19.8316378 66.7133925,19.92752 C66.9448755,20.0234022 67.2380872,20.0713433 67.6393244,20.0713433 C67.8862396,20.0713433 68.1331547,20.0713433 68.3800699,20.0553629 C68.6269851,20.0393826 68.8739002,20.0074218 69.1208154,19.9435004 L69.1208154,22.7400649 C68.7350105,22.788006 68.3492055,22.8199667 67.994265,22.8679079 C67.6238922,22.915849 67.2535194,22.9318293 66.8677145,22.9318293 C65.9417826,22.9318293 65.2010371,22.8359471 64.645478,22.6601631 C64.0899188,22.484379 63.6423851,22.2127127 63.3337411,21.8611446 C63.009665,21.5095765 62.8090464,21.0781065 62.6855888,20.5507544 C62.5775634,20.0234022 62.5004024,19.4161482 62.4849702,18.7449727 L62.4849702,9.07684952 L59.8460643,9.07684952 L59.8460643,6.34420644 L59.8151999,6.34420644 Z M71.5591027,6.34420644 L74.8615931,6.34420644 L74.8615931,8.56547772 L74.9233219,8.56547772 C75.4171522,7.60665558 76.096169,6.93548009 76.9758043,6.5199905 C77.8554396,6.10450091 78.7968036,5.89675611 79.8307609,5.89675611 C81.080769,5.89675611 82.1610228,6.12048128 83.0869547,6.58391198 C84.0128866,7.0313623 84.7844965,7.65459669 85.4017844,8.45361513 C86.0190724,9.25263358 86.4666061,10.179495 86.7752501,11.2341993 C87.083894,12.2889037 87.238216,13.4235099 87.238216,14.6220375 C87.238216,15.724683 87.0993262,16.7953677 86.8215467,17.8181113 C86.5437671,18.8568353 86.1270978,19.7677163 85.5715386,20.5667347 C85.0159795,21.3657532 84.3060984,21.9889876 83.4418953,22.4683986 C82.5776922,22.9478097 81.5745993,23.1875152 80.4017522,23.1875152 C79.8924897,23.1875152 79.3832272,23.1395741 78.8739646,23.0436919 C78.3647021,22.9478097 77.8708718,22.788006 77.4079058,22.5802612 C76.9449399,22.3725164 76.4974061,22.1008501 76.1116012,21.7652624 C75.710364,21.4296747 75.3862879,21.0461458 75.1085083,20.6146758 L75.0467795,20.6146758 L75.0467795,28.7966247 L71.5591027,28.7966247 L71.5591027,6.34420644 Z M83.7505392,14.558116 C83.7505392,13.8230191 83.657946,13.1039025 83.4727597,12.4007662 C83.2875733,11.69763 83.0097937,11.090376 82.639421,10.5470435 C82.2690482,10.0037109 81.8060823,9.57224095 81.2659553,9.25263358 C80.7103962,8.9330262 80.0776761,8.75724214 79.367795,8.75724214 C77.9017361,8.75724214 76.7906179,9.28459431 76.0498724,10.3392987 C75.3091269,11.394003 74.9387541,12.8002755 74.9387541,14.558116 C74.9387541,15.3890952 75.0313473,16.1561529 75.2319659,16.8592892 C75.4325844,17.5624254 75.710364,18.1696794 76.1116012,18.6810512 C76.4974061,19.192423 76.9603721,19.5919322 77.500499,19.8795789 C78.0406259,20.1832059 78.6733461,20.3270292 79.3832272,20.3270292 C80.1857015,20.3270292 80.849286,20.1512451 81.4048451,19.8156574 C81.9604043,19.4800697 82.407938,19.0326193 82.7628786,18.5052672 C83.1178191,17.9619346 83.3801665,17.3546806 83.5344885,16.6675247 C83.6733782,15.9803689 83.7505392,15.2772326 83.7505392,14.558116 Z M89.9079863,0.0958822132 L93.3956631,0.0958822132 L93.3956631,3.51568115 L89.9079863,3.51568115 L89.9079863,0.0958822132 Z M89.9079863,6.34420644 L93.3956631,6.34420644 L93.3956631,22.7400649 L89.9079863,22.7400649 L89.9079863,6.34420644 Z M96.5129671,0.0958822132 L100.000644,0.0958822132 L100.000644,22.7400649 L96.5129671,22.7400649 L96.5129671,0.0958822132 Z M110.695157,23.1875152 C109.429717,23.1875152 108.303166,22.9637901 107.315506,22.5323201 C106.327845,22.1008501 105.494506,21.4935961 104.800057,20.7425188 C104.121041,19.9754611 103.596346,19.0645801 103.241405,18.0098757 C102.886465,16.9551714 102.701279,15.7886044 102.701279,14.5261553 C102.701279,13.2796865 102.886465,12.1291 103.241405,11.0743956 C103.596346,10.0196913 104.121041,9.10881026 104.800057,8.34175255 C105.479074,7.57469485 106.327845,6.9834212 107.315506,6.55195124 C108.303166,6.12048128 109.429717,5.89675611 110.695157,5.89675611 C111.960597,5.89675611 113.087148,6.12048128 114.074809,6.55195124 C115.062469,6.9834212 115.895808,7.59067521 116.590257,8.34175255 C117.269274,9.10881026 117.793968,10.0196913 118.148909,11.0743956 C118.503849,12.1291 118.689036,13.2796865 118.689036,14.5261553 C118.689036,15.7886044 118.503849,16.9551714 118.148909,18.0098757 C117.793968,19.0645801 117.269274,19.9754611 116.590257,20.7425188 C115.91124,21.5095765 115.062469,22.1008501 114.074809,22.5323201 C113.087148,22.9637901 111.960597,23.1875152 110.695157,23.1875152 Z M110.695157,20.3270292 C111.466767,20.3270292 112.145784,20.1512451 112.716775,19.8156574 C113.287766,19.4800697 113.750732,19.0326193 114.121105,18.4892868 C114.491478,17.9459542 114.753825,17.3227199 114.939012,16.635564 C115.108766,15.9484081 115.201359,15.2452719 115.201359,14.5261553 C115.201359,13.8230191 115.108766,13.1358632 114.939012,12.432727 C114.769257,11.7295908 114.491478,11.1223367 114.121105,10.5790042 C113.750732,10.0356717 113.287766,9.60420169 112.716775,9.26861395 C112.145784,8.9330262 111.466767,8.75724214 110.695157,8.75724214 C109.923547,8.75724214 109.244531,8.9330262 108.673539,9.26861395 C108.102548,9.60420169 107.639582,10.051652 107.269209,10.5790042 C106.898836,11.1223367 106.636489,11.7295908 106.451303,12.432727 C106.281549,13.1358632 106.188955,13.8230191 106.188955,14.5261553 C106.188955,15.2452719 106.281549,15.9484081 106.451303,16.635564 C106.621057,17.3227199 106.898836,17.9459542 107.269209,18.4892868 C107.639582,19.0326193 108.102548,19.4800697 108.673539,19.8156574 C109.244531,20.1672255 109.923547,20.3270292 110.695157,20.3270292 Z M119.707561,6.34420644 L122.346467,6.34420644 L122.346467,1.42225283 L125.834144,1.42225283 L125.834144,6.34420644 L128.982312,6.34420644 L128.982312,9.04488878 L125.834144,9.04488878 L125.834144,17.8021309 C125.834144,18.1856598 125.849576,18.5052672 125.88044,18.7929138 C125.911305,19.0645801 125.988466,19.3042856 126.096491,19.49605 C126.204516,19.6878145 126.37427,19.8316378 126.605753,19.92752 C126.837236,20.0234022 127.130448,20.0713433 127.531685,20.0713433 C127.7786,20.0713433 128.025516,20.0713433 128.272431,20.0553629 C128.519346,20.0393826 128.766261,20.0074218 129.013176,19.9435004 L129.013176,22.7400649 C128.627371,22.788006 128.241566,22.8199667 127.886626,22.8679079 C127.516253,22.915849 127.14588,22.9318293 126.760075,22.9318293 C125.834144,22.9318293 125.093398,22.8359471 124.537839,22.6601631 C123.98228,22.484379 123.534746,22.2127127 123.226102,21.8611446 C122.902026,21.5095765 122.701407,21.0781065 122.57795,20.5507544 C122.469924,20.0234022 122.392763,19.4161482 122.377331,18.7449727 L122.377331,9.07684952 L119.738425,9.07684952 L119.738425,6.34420644 L119.707561,6.34420644 Z" id="Shape"></path>
                </g>
                <g id="Star" fill-rule="nonzero">
                    <polygon id="Shape" fill="#00B67A" points="41.8675535 15.7566437 25.8797963 15.7566437 20.9414929 0 15.9877573 15.7566437 0 15.7406633 12.9476142 25.4886884 7.99387863 41.2293517 20.9414929 31.497307 33.8736749 41.2293517 28.9353715 25.4886884 41.8675535 15.7566437 41.8675535 15.7566437"></polygon>
                    <polygon id="Shape" fill="#005128" points="30.0464898 29.0523106 28.9353715 25.4886884 20.9414929 31.497307"></polygon>
                </g>
            </g>
        </g>
    </g>
</svg>
